:global .ant-table-wrapper .ant-table-thead>tr>th> {
    border-radius: 0 !important;
    background: #F4F4F4;
}
:global .ant-table-wrapper .ant-table-thead>tr>th>span {
    padding-right: 50px;
}

:where(.css-dev-only-do-not-override-aprs5d).ant-table-wrapper .ant-table-filter-trigger {
    position: relative;
    display: flex;
    align-items: center;
    margin-block: -4px;
    margin-inline: -10px -8px;
    padding: 0 4px;
    color: rgba(0, 0, 0, 0.29);
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}
:where(.css-dev-only-do-not-override-aprs5d).ant-table-wrapper .ant-table-column-title {
    position: relative;
    z-index: 1;
    flex: 1;
    padding-right: 16px;
}
:global .ant-table-content {
    border: 1px solid #F4F4F4;
}


/* :global .ant-table-wrapper .ant-table-tbody>tr.ant-table-row:hover>td,
:global .ant-table-wrapper .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: #e8eaeb;
} */

:global .anticon {
    color: #9f9f9f;
}

:global .ant-table-content::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

:global .ant-table-content::-webkit-scrollbar {
    height: 5px;
    background-color: #F4F4F4;
}

:global .ant-table-content::-webkit-scrollbar-thumb {
    background-color: #ea3434;
    border-radius: 10px;
}