.buttonContainer :global .ant-btn-default.ant-btn-dangerous:not(:disabled):hover {
    background-color: #ff3e5b;
    color: #ffffff !important;
}

:global .ant-btn {
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
}

.padRight0 {
    padding-right: 0px !important;
}

.pageHeader .headingGradient {
    padding-bottom: 10px;
    border-radius: 5px;
    border: 0px;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #efa3a3, #cac9ee);
    border-image-slice: 1;
    text-decoration: none;
    margin-bottom: 28px;
    color: #0b0b0c;
    font-size: 20px;
}

.pageHeader .favIconHeading {
    padding-left: 5px;
    margin-top: 5px;
    line-height: 4px;
    padding-top: 3px;
    cursor: pointer;
    color: #ff3e5b;
}

.pageHeaderNameSection {
    border-bottom: 1px solid #dedede;
    margin: 0 0 16px 0;
}

.pageHeader .buttonContainer {
    text-align: right;
}

.pageHeader .buttonContainer button {
    margin-left: 14px;
}

.pageHeader .buttonContainer .buttonIcon {
    margin-right: 6px;
    padding-top: 2px;
}

/* Modal Content */

:global .ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-title {
    display: contents;
}

:global .ant-modal-confirm .ant-modal-confirm-btns {
    text-align: center;
    margin-top: 0;
}

:global .ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-title+.ant-modal-confirm-content {
    max-width: 100%;
    padding: 10px;
    text-align: justify;
    border-top: 1px solid #DEDEDE;
}

:global .ant-modal-confirm .ant-modal-confirm-btns button:last-child {
    background-color: #ff3e5b;
    color: #ffffff !important;
}

:global .ant-modal-confirm .ant-modal-confirm-btns button {
    text-align: center;
    width: 100px;
    margin-top: 15px;
    background-color: #ffffff;
    border: 1px solid #ff3e5b;
    color: #ff3e5b !important;
}

:global .ant-modal-confirm .ant-modal-confirm-btns button:hover {
    background-color: #ff3e5b;
    border: 1px solid #ff3e5b;
    color: #ffffff !important;
}

.modalIconAlert {
    color: #FF7A00;
    padding-right: 8px;
}

@media (max-width: 768px) {

    .pageHeader .headingGradient {
        padding-bottom: 5px;
        /* border-bottom: 0px; */
        font-size: 14px;
        font-weight: 600;
    }

    .pageHeaderNameSection {
        border-bottom: 0;
        padding: 0px;
        margin: 0 0 10px 0;
        /* width: 68vw; */
    }

    .pageHeader .buttonContainer {
        margin-top: 6px;
    }

    .pageHeader .buttonContainer button {
        margin-left: 5px;
    }

    .pageHeader .buttonContainer :global .ant-btn {
        font-size: 12px;
        height: 24px;
        padding: 2px 6px;
    }

    .pageHeader .buttonContainer .buttonIcon {
        margin-right: 2px;
    }

    .buttonContainer button {
        margin-left: 0px;
    }

}