.userProfile {
    width: 60px;
    height: 60px;
    border: 1px solid #b5b5b6;
    border-radius: 130px;
}

.subHeading {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* lightmode/primary/black */

    color: #0b0b0c;
}

.Heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* lightmode/primary/black */

    color: #0b0b0c;
}

.flex {
    display: flex;
    align-items: center;
    /* margin: 0 0 16px 0; */
}

.addBtn {
    margin: 0 0 0 24px;
}

.cardStyle {
    /* //padding: 20px 30px !important; */
    background-color: #f2f2f2;
}

.ant-card .ant-card-body {
    padding: 20px 30px 20px 30px !important;
}

/* .ant-divider-horizontal{
    margin: 0;
} */

.element.style {
    padding-top: 0;
}

.ant-btn-default:not(:disabled):hover {
    border: none !important;
}

.red {
    color: #ff3e5b !important;
}

.heading {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #0b0b0c;
}

.ant-collapse-item >.ant-collapse-header{
    padding: 16px 30px !important;
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
    padding: 0;
}

.ant-descriptions .ant-descriptions-row >th{
    padding-bottom: 8px;
}

.flex100{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}