.hierarchyButtonContainer {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  padding: 0;
}

.hierarchyButtonContainer .buttonIcon {
  margin-right: 6px;
  padding-top: 2px;
}

.hierarchyButtonContainer .btnLeft {
  text-align: left;
  float: left;
}

.hierarchyButtonContainer .btnRight {
  text-align: right;
  float: right;
}

.hierarchyButtonContainer .btnRight button {
  margin-left: 14px;
}

.hierarchyButtonContainer :global .ant-btn-default.ant-btn-dangerous:not(:disabled):hover {
  background-color: #ff3e5b;
  color: #ffffff !important;
}