.allowedTiming {
    background: #f4f4f4;
    margin-top: 12px;
    padding-top: 20px;
    padding-left: 12px;
}
/* 
:global .css-dev-only-do-not-override-aprs5d.ant-drawer .ant-drawer-footer {
    background: #d9d9d9;
}

:global .ant-drawer .ant-drawer-header-title {
    display: inline-block;
}

:global .ant-drawer .ant-drawer-close {
    float: right;
    margin-inline-end: 0;
}

:global .ant-input {
    padding: 5px;
} */

.drawerFooterButtons button {
    margin-bottom: 0 !important;
    height: 34px;
}

.drawerFooterButtons button:not(:first-child) {
    margin-left: 10px !important;
}
.floatRight {
    margin-top: 30px;
    display: flex;
    align-items: center;
    float: right;
}

:global .ant-col-24.ant-form-item-label
{
    padding: 0;
}
.myAttributeButton {
    margin: 0;
    padding: 0 0;
    white-space: initial;
    text-align: start;
}
.activeText {
    color: #00a310;
}
.InactiveText {
    color: #8E8585;
}
.tableIcons {
    border:none;
    padding: 0px;
}
.editDrawer :global .ant-drawer-wrapper-body .ant-drawer-footer {
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15) !important;
    padding: 10px 20px;
}