.allowedTiming {
    background: #f4f4f4;
    margin-top: 12px;
    padding-top: 20px;
    padding-left: 12px;
}
/* 
:global .css-dev-only-do-not-override-aprs5d.ant-drawer .ant-drawer-footer {
    background: #d9d9d9;
}

:global .ant-drawer .ant-drawer-header-title {
    display: inline-block;
}

:global .ant-drawer .ant-drawer-close {
    float: right;
    margin-inline-end: 0;
}

:global .ant-input {
    padding: 5px;
} */

.drawerFooterButtons button {
    margin-bottom: 0 !important;
    height: 34px;
}

.drawerFooterButtons button:not(:first-child) {
    margin-left: 10px !important;
}
.floatRight {
    margin-top: 30px;
    display: flex;
    align-items: center;
    float: right;
}
.floatRight2 {
    margin-top: 0px;
    display: flex;
    align-items: center;
    float: right;
}

:global .ant-col-24.ant-form-item-label {
    padding: 0;
}
.myAttributeButton {
    margin: 0;
    padding: 0 0;
    white-space: initial;
    text-align: start;
}
.activeText {
    color: #00a310;
}
.InactiveText {
    color: #8E8585;
}
.tableIcons {
    border:none;
    padding: 0px;
}
.editDrawer :global .ant-drawer-wrapper-body .ant-drawer-footer {
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15) !important;
    padding: 10px 20px;
}
.searchAndLabelAlign {
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* padding-right: 20px; */

    /* font-weight: 400 !important;
    color: #0b0b0c !important;
    font-size: 18px !important; */
}
.subheading {
    font-size: 16px;
    color: #0b0c0c;
    display: flex;
    align-items: center;
    justify-content: center;

}
.refreshBtn {
    /* height : 28px !important ; */
    background-color: transparent;
    /* padding : 0px 24px; */
    font-size: 18px;
    line-height: 18px;
    width: 60px !important;
}
.refreshBtn :global svg {
    margin-right: 0px !important;
}
.refreshBtn:global(.ant-btn-default.ant-btn-dangerous svg) {
    margin-right: 0px !important;
}
.refreshBtn :global .ant-btn-default.ant-btn-dangerous svg {
    margin-right: 0px !important;
}
.actionbtn {
    background-color: #ff3e5b;
    border-radius: 5px;
    padding: 4px 16px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    /* height: 28px; */
}
.attributeSelet {
    width: 100%;
}

/* this will go to common css file */
:global .ant-notification-notice {
    width: 395px !important;
    padding: 10px !important;
    bottom: 40px !important;
    margin-top: 30px;
}
/* Error */
.error :global .ant-notification-notice {
    width: 395px !important;
    padding: 10px !important;
}
.error {
    color: #ed302d;
    background-color: #fee3d4;
    border: 1px solid #ed302d;
}

.error :global .ant-notification-notice-icon {
    font-weight: 700;
}

.error :global .ant-notification-close-icon {
    color: #ef0000;
}

.error :global .ant-notification-notice-message {
    color: #ef0000;
    font-weight: 700;
    margin-bottom: 0px !important;
    font-size: 14px !important;
    line-height: 22px !important;
}

.error :global .ant-notification-notice-description {
    color: #342c2c;
    font-size: 12px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    padding-right: 20px;
}

.error :global .ant-notification-notice-btn {
    margin-left: 35px;
    float: left;
    font-size: 12px;
}

.error :global .ant-notification-notice-btn .ant-btn-primary {
    background-color: #ef0000;
    color: #ffffff;
}

.error :global .ant-notification-notice-btn .ant-btn-dangerous {
    color: #ef0000;
    border-color: #ef0000;
}

.error :global .ant-btn-default.ant-btn-dangerous:not(:disabled):hover {
    background-color: #ea3434 !important;
}

/* Success */
.success {
    color: #70c922 !important;
    background-color: #eefcd2 !important;
    border: 1px solid #70c922 !important;
}

.success :global .ant-notification-notice-icon {
    font-weight: 700;
}

.success :global .ant-notification-close-icon {
    color: #00a310;
}

.success :global .ant-notification-notice-message {
    color: #00a310;
    font-weight: 700;
    margin-bottom: 0px !important;
    font-size: 14px !important;
    line-height: 22px !important;
}

.success :global .ant-notification-notice-description {
    color: #342c2c;
    font-size: 12px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    padding-right: 20px;
}
.success :global .ant-notification {
    box-sizing: border-box;
    margin: 42px;
    /* padding: 0; */
    padding-right: 40px;
    margin-right: px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: fixed;
    z-index: 1050;
    margin-inline-end: 24px;
}
/* // // // */
/* THIS WILL BE HOVER COLOR */

/* :global .ant-input:hover {
    border-color: #0B0B0C;
} */