.passwordStrengthMeter {
    margin: 20px 0px 20px 0px;
}

.beforeLogin {
    color: #ffffff
}

.passwordStrengthMeter .alignRight {
    text-align: right;
}

.passwordStrengthMeter .title {
    font-weight: 600;
    padding-top: 2px;
}

.passwordStrengthMeter .title svg {
    vertical-align: sub;
    color: #2782F9;
}

.passwordStrengthMeter .strength {
    font-weight: 600;
    text-align: right;
}

.passwordStrengthMeter .strength .infoTitle {
    margin-right: 5px;
}

.passwordStrengthMeter .strength .infoIcon {
    margin-top: 5px;
    vertical-align: middle;
    font-weight: 400;
}

.passwordStrengthMeter .strength .infoIconColor {
    color: #6aa8fb;
}

.passwordStrengthMeter .infoText {
    text-align: right;
}

:global .ant-tooltip.ant-tooltip-placement-right .ant-tooltip-inner {
    box-shadow: none;
}

/* :global .ant-tooltip.ant-tooltip-placement-right .ant-tooltip-arrow:before {
    background: #F99C22 !important;
} */

.tooltipDesign {
    padding: 12px;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    color: #F99C22;
    border: 1px solid #F99C22 !important;
    border-radius: 4px;
    min-height: 173px;
    margin: -8px;
}

.tooltipBGLogin {
    background: #2B2521;
    min-width: 301px;
}

.tooltipBG {
    background: #FEF3D2;
    min-width: 293px;
}

.tooltipDesign ul {
    margin-block-start: 6px !important;
    margin-block-end: 6px !important;
    padding-left: 0;
}

.tooltipBGLogin ul {
    color: #FFFFFF !important;
}

.tooltipBG ul {
    color: #0B0B0C !important;
}

.tooltipDesign ul li {
    list-style-type: none;
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.tooltipDesign ul li.rulesIconGreen svg {
    padding-right: 8px;
    font-size: 14px;
    vertical-align: middle;
    color: #70C922;
    padding-left: 2px;
}

.tooltipDesign ul li.rulesIconRed svg {
    padding-right: 6px;
    vertical-align: middle;
    /* color: #ED302D; */
}

.passwordStrengthMeter .meterIndicator {
    margin-top: 10px;
}

.passwordStrengthMeter .levelDefaultColor {
    background-color: #e6e6e6;
    height: 3px;
    border-radius: 5px;
}

.passwordStrengthMeter .levelOneColor {
    background-color: #ff3e5b;
    height: 3px;
    border-radius: 5px;
}

.passwordStrengthMeter .levelTwoColor {
    background-color: #f99c22;
    height: 3px;
    border-radius: 5px;
}

.passwordStrengthMeter .levelThreeColor {
    background-color: #70c922;
    height: 3px;
    border-radius: 5px;
}

.infoTooltipDesign {
    max-width: 300px !important;
}

.infoTooltipDesign :global .ant-tooltip-arrow:before {
    background: #2782F9;
}

.infoTooltipDesign :global .ant-tooltip-inner {
    border: 1px solid #2782F9;
    padding: 12px;
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}