.passwordStrengthMeter {
    margin: 20px 0px 20px 0px;
}

.beforeLogin {
    color: #ffffff
}

.passwordStrengthMeter .alignRight {
    text-align: right;
}

.passwordStrengthMeter .title {
    font-weight: 600;
    padding-top: 2px;
}

.passwordStrengthMeter .strength {
    font-weight: 600;
    text-align: right;
}

.passwordStrengthMeter .strength .infoTitle {
    margin-right: 5px;
}

.passwordStrengthMeter .strength .infoIcon {
    margin-top: 5px;
    vertical-align: middle;
    font-weight: 400;
}

.passwordStrengthMeter .strength .infoIconColor {
    color: #6aa8fb;
}

.passwordStrengthMeter .infoText {
    text-align: right;
}

:global .ant-tooltip .ant-tooltip-inner {
    min-width: 300px;
    min-height: 170px;
    padding: 12px;
    color: #F99C22;
    font-weight: 500;
    font-size: 14px;
    text-align: start;
    text-decoration: none;
    word-wrap: break-word;
    background-color: #2B2521;
    border-radius: 8px;
    border: 1px solid #F99C22;
    box-shadow: none;
}

.passwordStrengthMeter .infoText .passwordStrengthRequirements {
    margin-block-start: 6px !important;
    margin-block-end: 6px !important;
    padding: 0px;
    color: #FFFFFF !important;
    /* padding-left: 20px; */
}

.passwordStrengthMeter .meterIndicator {
    margin-top: 10px;
}

.passwordStrengthMeter .levelDefaultColor {
    background-color: #e6e6e6;
    height: 3px;
    border-radius: 5px;
}

.passwordStrengthMeter .levelOneColor {
    background-color: #ff3e5b;
    height: 3px;
    border-radius: 5px;
}

.passwordStrengthMeter .levelTwoColor {
    background-color: #f99c22;
    height: 3px;
    border-radius: 5px;
}

.passwordStrengthMeter .levelThreeColor {
    background-color: #70c922;
    height: 3px;
    border-radius: 5px;
}