.crudViewPage :global .ant-drawer-title{
    font-size: 24px;
    font-weight: normal;
    color: #484549;
}

.crudViewPage :global .ant-drawer-body{
    height: calc(100vh - 108px);
    overflow-y: scroll;
    background: #f3f7fa;
}

.footerSection{
    position:absolute;  
    bottom: 0;   
    width:100%;  
    border-top:1px solid #e8e8e8;  
    padding:10px 45px; 
    text-align:right; 
    left: 0; 
    background:#fff;  
}

.crudViewPage1 :global .ant-drawer-title{
    font-size: 24px;
    font-weight: normal;
    color: #484549;
}

.crudViewPage1 :global .ant-drawer-body{
    height: calc(100vh - 108px);
    overflow-y: scroll;
    background: #f5f6fa;
}
@media screen and (max-width: 1199px)
{
    .crudViewPage1 :global .ant-drawer-title{
        font-size: 20px;
        font-weight: 400;
        color: #484549;
    }
}

@media screen and (max-width: 991px) {
    .crudViewPage :global .ant-drawer-title{
        font-size: 20px;
        font-weight: normal;
        color: #484549;
    }
    .crudViewPage :global .ant-drawer-body{
        height: 86vh;
        overflow-y: scroll;
        background: #f3f7fa;
    }
    .footerSection
    {
        padding: 10px 30px;
    }
    .crudViewPage1 :global .ant-drawer-title{
        font-size: 20px;
        font-weight: 400;
        color: #484549;
    }
    .crudViewPage1 :global .ant-drawer-body{
        height: 86vh;
        overflow-y: scroll;
        background: #f3f7fa;
    }
}