@import 'assets/sass/app.module.scss';

:global {
    .ant-select-dropdown {
        .ant-select-item-option-state {
            display: none;
        }
    }

    .ant-drawer-wrapper-body {
        .ant-drawer-footer {
            .ant-btn-default {
                &.ant-btn-dangerous {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.userManagementTable {
    & :global {
        .ant-table-wrapper {
            .ant-table-expanded-row-fixed {
                width: max-content !important;
                margin: auto;
            }

            .ant-table-tbody {
                >tr {
                    >td {
                        padding: 16px !important;
                        @include borderRedius(8px, 1px, solid, inherit);
                        border-bottom: none;
                    }
                }
            }

            .ant-table {
                @include borderRedius(8px, 1px, solid, $primaryRed);
            }
        }
    }
}

.userManagementDrawer {
    & :global {
        .ant-collapse {
            background-color: $transparentColor;
            border: none;

            >.ant-collapse-item {
                border: 1px solid $neutralGrey0;
                background: $neutralGrey0;
                border-radius: 6px;
                margin-top: 10px;

                >.ant-collapse-header {
                    border-radius: 6px;

                    .ant-collapse-header-text {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 22px;
                        color: $primaryBlack;
                    }
                }

                &:last-child {
                    border-radius: 6px;

                    >.ant-collapse-header {
                        border-radius: 6px;
                    }
                }
            }

            >.ant-collapse-item-active {
                background: $neutralGrey0;

                >.ant-collapse-header {
                    color: $brandColor !important;

                    .ant-collapse-header-text {
                        color: $brandColor !important;
                    }
                }
            }

            .ant-collapse-content {
                background: $neutralGrey0;
                border-top: none;

                >.ant-collapse-content-box {
                    padding-top: 0;

                    .ant-card {
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .ant-card-head {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 22px;
                            padding: 10px 20px 0;
                            min-height: 10px;
                            margin-bottom: 0;
                            border-bottom: none;

                            .ant-card-extra {
                                a {
                                    color: $primaryRed;
                                    font-size: 12px;
                                    font-weight: 700;
                                    line-height: 20px;

                                    &:first-child {
                                        color: $primaryRed;
                                        margin-right: 10px;

                                        svg {
                                            font-size: 11px !important;
                                            margin-right: 5px;
                                        }
                                    }
                                }

                                svg {
                                    vertical-align: middle;
                                    font-size: 16px;
                                }
                            }
                        }

                        .ant-card-body {
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 22px;
                            padding: 0 20px 10px;
                            color: $neutralGrey3;
                        }
                    }
                }

                .ant-collapse-content-box {
                    .ant-form-item {
                        padding-top: 10px;
                        border-top: 1px solid $neutralGrey1;
                    }
                }
            }
        }
    }
}

.errorDisplay {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-top: 1px solid $neutralGrey1;

    .subheading {
        margin-top: 10px;
        margin-left: 10px;
        color: $primaryRed;

        svg {
            margin-right: 8px;
            vertical-align: middle;
        }

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
    }
}

.successDisplay {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0;
    border-top: 1px solid $neutralGrey1;

    .subheading {
        button {
            float: right;
            margin-top: 5px;
        }
    }
}

.manageAccessHeader {
    border-top: 1px solid $neutralGrey1;
    margin-bottom: 10px;

    p {
        padding-left: 0 !important;
        margin-top: 16px !important;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        &>span {
            color: $primaryRed;
        }
    }
}

.usermanagementCard {
    background: $neutralGrey1;

    & :global {
        .ant-card-body {
            padding: 10px 20px;
        }
    }
}


/*-----------------------*/

.alignUsermanagementCard {
    display: flex;
    align-items: center;
}

.crossButton {
    font-size: 20px;
    color: $primaryRed;
    float: right;
}

.usermanagementCardTextLeft {
    float: left;
    color: $primaryBlack;
    font-weight: 600;
    font-size: 14px;
}

.usermanagementCardTextRight {
    float: right;
    color: $primaryBlack;
    font-weight: 600;
    font-size: 14px;
}

.attributeSelet {
    width: 100%;
}

.dealerBtn {
    border: none;
}

.actionbtn {
    background-color: $primaryRed;
    border-radius: 5px;
    padding: 4px 16px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.asterisk {
    color: $primaryRed;
}