.leftMenuBox :global .ant-layout .ant-layout-sider-trigger {
  position: fixed;
  width: 24px !important;
  top: 3px;
  z-index: 1;
  height: 48px;
  color: #ea2929;
  line-height: 48px;
  text-align: center;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
}

.menuTitle {
  /* font-size: 16px; */
  margin-top: -10px;
}

/* .menuIcon {
  font-size: 40px;
} */

:global .ant-layout-sider-zero-width-trigger {
  display: none !important;
}

.leftMenuBox {
  height: 100vh;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  /* box-shadow: -10px 5px 10px 10px rgb(0 0 0 / 25%), 0 10px 10px 5px rgb(0 0 0 / 22%) !important; */
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px rgba(0, 0, 0, .2) !important;
  background-color: #f4f4f4 !important;
  z-index: 99 !important;
}

.closeButton {
  font-size: 30px;
  padding-top: 12px;
  text-align: right;
  color: #ea2929;
  cursor: pointer;
}

:global .ant-input-group-wrapper {
  vertical-align: inherit;
}

:global .ant-layout .ant-layout-sider-trigger {
  position: absolute;
  width: 0px !important;
  top: 23px;
  z-index: 1;
  /* height: 48px; */
  color: #ea2929;
  font-size: 18px;
  /* line-height: 48px; */
  text-align: center;
  /* background: #f4f4f4; */
  cursor: pointer;
  transition: all 0.2s;
}

/* icon for collapse position when not collapsed */
:global .ant-layout .ant-layout-sider-trigger .anticon-left {
  position: absolute;
  left: 208px;
}

/* icon for collapse position when collapsed */
:global .ant-layout .ant-layout-sider-trigger .anticon-right {
  position: absolute;
  left: 32px;
}

/* background color of the menu list & sub-menu list */
:global .ant-menu-light {
  background-color: transparent;
}

:global .ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background-color: transparent;
  padding-left: 22px !important;
}

:global .ant-menu .ant-menu-item .ant-menu-item-icon+span,
:global .ant-menu .ant-menu-submenu-title .ant-menu-item-icon+span,
:global .ant-menu .ant-menu-item .anticon+span,
:global .ant-menu .ant-menu-submenu-title .anticon+span {
  padding-left: 20px !important;
}

:global .ant-menu .ant-menu-item .ant-menu-item-icon+span:hover,
:global .ant-menu .ant-menu-submenu-title .ant-menu-item-icon+span:hover,
:global .ant-menu .ant-menu-item .anticon+span:hover,
:global .ant-menu .ant-menu-submenu-title .anticon+span:hover {
  background: #f4f4f4 !important;
  color: #ea2929 !important;
  width: 100%;
}

/* :global .ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content,
:global .ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
  padding-left: 32px;
} */

/* :global .ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content {
  padding-left: 52px;
} */

:global .ant-menu-inline.ant-menu-root .subMenuItem>span:hover {
  background: #ffffff !important;
  color: #000000;
}

/* changes on menu list items on hover */
:global .ant-menu-submenu-title:hover {
  background-color: transparent !important;
  color: #ea2929 !important;
}

:global .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: #ffffff !important;
  /* color: #000000; */
  border-radius: 4px;
}

/* changes on menu list items on select/visited/focus */
:global .ant-menu-light .ant-menu-item-selected {
  background-color: #ffffff;
}

:global .ant-menu-light.ant-menu-root.ant-menu-inline::-webkit-scrollbar-track,
:global .ant-menu-light.ant-menu-root.ant-menu-vertical::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #F4F4F4;
}

:global .ant-menu-light.ant-menu-root.ant-menu-inline::-webkit-scrollbar,
:global .ant-menu-light.ant-menu-root.ant-menu-vertical::-webkit-scrollbar {
  width: 5px;
  background-color: #F4F4F4;
}

/* :global .ant-menu-light.ant-menu-root.ant-menu-inline:hover::-webkit-scrollbar,
:global .ant-menu-light.ant-menu-root.ant-menu-vertical:hover::-webkit-scrollbar {
  width: 10px !important;
} */

:global .ant-menu-light.ant-menu-root.ant-menu-inline::-webkit-scrollbar-thumb,
:global .ant-menu-light.ant-menu-root.ant-menu-vertical::-webkit-scrollbar-thumb {
  background-color: #ea3434;
  border-radius: 10px;
  /* border: 2px solid ; */
}

/* right border on menu list */
:global .ant-menu-light.ant-menu-root.ant-menu-inline,
:global .ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
  overflow-y: scroll;
  max-height: 83vh;
  /* padding: 0px 16px; */
  padding-left: 14px;
  padding-right: 14px;
}

/* font-family & size for left-menu text */
:global .ant-menu {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 500 !important;
  /* color: #000000 !important; */
}

:global .ant-menu-vertical>.ant-menu-item {
  height: 40px !important;
}

:global .ant-menu .ant-menu-submenu-title .ant-menu-item-icon+span {
  text-transform: uppercase;
  padding-left: 0 !important;
  /* font-size: 16px; */
}

:global .ant-menu-inline .ant-menu-submenu-title,
:global .ant-menu-inline .ant-menu-item {
  height: 32px;
  /* line-height: 40px; */
  padding-inline: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-bottom: 4px;
  width: 100%;
}

:global .ant-menu-vertical .ant-menu-item,
:global .ant-menu-vertical .ant-menu-submenu-title {
  height: 40px !important;
}

:global .ant-menu .ant-menu-submenu-arrow {
  position: initial;
  width: 8px;
  /* margin-top: -6px !important; */
}

/* font-family & size for sub-menu in left-menu text */
:global .ant-menu .ant-menu-sub {
  /* font-family: sans-serif; */
  font-size: 14px;
  padding-left: 8px !important;
}

/* font-size for icons in left-menu text */
:global .ant-menu .ant-menu-submenu .ant-menu-item-icon,
:global .ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .ant-menu-item-icon,
:global .ant-menu .ant-menu-item .ant-menu-item-icon,
:global .ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .ant-menu-item-icon {
  font-size: 22px;
}

:global .ant-menu-inline .ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
  line-height: 30px !important;
  height: 30px !important;
}

/* border color on input search in left-menu */
:global .ant-input-affix-wrapper,
:global .ant-btn-default {
  height: 34px !important;
  border-radius: 4px;
  border-color: #DEDEDE;
  padding: 6px 12px;
}

:global .ant-input-affix-wrapper>input.ant-input {
  line-height: 0;
}

.logoContainer input::placeholder {
  color: #8E8585;
}

:global .ant-btn.ant-btn-icon-only {
  width: 40px;
}

:global .ant-input-search .ant-input:hover,
:global .ant-input-search .ant-input:focus {
  border-color: #0458f7;
}

:global .ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub:not([class*='-active'])::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #F4F4F4;
}

:global .ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub:not([class*='-active'])::-webkit-scrollbar {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #F4F4F4;
  width: 5px;
}

:global .ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub:not([class*='-active']):hover::-webkit-scrollbar {
  width: 5px !important;
}

:global .ant-menu-light .ant-menu-item a:hover {
  text-decoration: none;
  /* color: #000000; */
  /* background: #ffffff; */
  color: #ea2929;
}

:global .ant-menu-submenu-popup,
:global .ant-menu-light.ant-menu-submenu>.ant-menu {
  border-radius: 0;
}

.customSider {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0;
  top: 0;
  bottom: 0;
  background-color: '#ffffff';
}

.logoContainer {
  padding: 0px 14px;
  margin-bottom: 12px;
}

.brandLink {
  display: block;
  padding: 19px 0 11px;
  /* padding-left: 4px !important; */
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
}

.brandLink .brandImage {
  max-height: 26px;
  width: auto;
}

.changeTheme {
  display: flex;
  align-items: center;
  font-size: 16px;
  bottom: 16px;
  position: absolute;
  color: #ea2929 !important;
  cursor: pointer;
}

.changeTheme .sun {
  background: #fff;
}

.changeTheme .moon {
  background: #000;
}

.changeTheme svg {
  width: 30px;
  height: 30px;
  padding: 3px 7px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border: 0px solid #000000;
  /* margin-right: 10px; */
}

:global .ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content span:first-child {
  padding-right: 8px;
  vertical-align: sub;
}

:global .ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content span:first-child {
  padding-right: 8px;
  vertical-align: sub;
}

:global .ant-menu-inline.ant-menu-root>.ant-menu-submenu-inline .ant-menu-submenu-title>.ant-menu-item>.ant-menu-title-content span:first-child {
  padding-right: 0px;
  vertical-align: sub;
}

.leftMenuBox a {
  color: #000000 !important;
}

.leftMenuBox a:hover {
  color: #ea2929 !important;
}

.leftMenuBox li.subMenuParent {
  /* color: #ea2929 !important; */
  /* border: 1px solid green; */
  min-height: 40px;
  /* text-overflow: ellipsis !important; */
}

.leftMenuBox li.subMenuParent:hover {
  color: #ea2929 !important;
  background: none !important;
}

/* .leftMenuBox li.subMenuItem:hover {
  color: #ea2929 !important;
  background: #ffffff !important;
} */

/* .subMenuItem {
  color: #0458f7 !important;
} */

@media (max-width: 768px) {
  .leftMenuBox {
    position: fixed !important;
    width: 100vw !important;
    box-shadow: none !important;
    min-width: 0 !important;
  }

  .logoContainer {
    padding-right: 19px;
  }

  .brandLink {
    padding-top: 14px;
  }

  .changeTheme {
    text-align: center;
  }
}