.leftMenuBox :global .ant-layout .ant-layout-sider-trigger {
  position: fixed;
  width: 24px !important;
  top: 3px;
  z-index: 1;
  height: 48px;
  color: #ea2929;
  line-height: 48px;
  text-align: center;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
}

:global .ant-layout-sider-zero-width-trigger {
  display: none !important;
}

.leftMenuBox {
  height: 100vh;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  box-shadow: -10px 5px 10px 10px rgb(0 0 0 / 25%), 0 10px 10px 5px rgb(0 0 0 / 22%) !important;
  background-color: #f4f4f4 !important;
  z-index: 99 !important;
}

.closeButton {
  font-size: 35px;
  margin: 13px 0 0 0;
  color: #ea2929;
  cursor: pointer;
}

/* .leftMenuBox:global.ant-layout-sider-trigger {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}


.leftMenuBox:global.ant-layout-sider-collapsed {
  flex: 0 0 95px !important;
  max-width: 95px !important;
  min-width: 95px !important;
  width: 95px !important;
} */

/* .leftMenuBox:global.ant-layout-sider-collapsed .ant-layout-sider-trigger {
  width: 95px !important;
} */


:global .ant-menu-item-only-child {
  padding-left: 25px !important;
}

:global .ant-input-group-wrapper {
  vertical-align: inherit;
}

:global .ant-layout .ant-layout-sider-trigger {
  position: absolute;
  width: 0px !important;
  top: 25px;
  z-index: 1;
  /* height: 48px; */
  color: #ea2929;
  font-size: 20px;
  /* line-height: 48px; */
  text-align: center;
  /* background: #f4f4f4; */
  cursor: pointer;
  transition: all 0.2s;
}

/* icon for collapse position when not collapsed */
:global .ant-layout .ant-layout-sider-trigger .anticon-left {
  position: absolute;
  left: 208px;
}

/* icon for collapse position when collapsed */
:global .ant-layout .ant-layout-sider-trigger .anticon-right {
  position: absolute;
  left: 55px;
}

/* background color of the menu list & sub-menu list */
:global .ant-menu-light {
  background-color: transparent;
}

:global .ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background-color: transparent;
  padding-left: 17px !important;
}

/* changes on menu list items on hover */
:global .ant-menu-submenu-title:hover {
  background-color: transparent !important;
  color: #ea2929 !important;
}

:global .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: #ffffff !important;
  color: #ea2929 !important;
}

/* changes on menu list items on select/visited/focus */
:global .ant-menu-light .ant-menu-item-selected {
  background-color: #ffffff;
}

:global .ant-menu-light.ant-menu-root.ant-menu-inline::-webkit-scrollbar-track,
:global .ant-menu-light.ant-menu-root.ant-menu-vertical::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #F4F4F4;
}

:global .ant-menu-light.ant-menu-root.ant-menu-inline::-webkit-scrollbar,
:global .ant-menu-light.ant-menu-root.ant-menu-vertical::-webkit-scrollbar {
  width: 5px;
  background-color: #F4F4F4;
}

/* :global .ant-menu-light.ant-menu-root.ant-menu-inline:hover::-webkit-scrollbar,
:global .ant-menu-light.ant-menu-root.ant-menu-vertical:hover::-webkit-scrollbar {
  width: 10px !important;
} */

:global .ant-menu-light.ant-menu-root.ant-menu-inline::-webkit-scrollbar-thumb,
:global .ant-menu-light.ant-menu-root.ant-menu-vertical::-webkit-scrollbar-thumb {
  background-color: #ea3434;
  border-radius: 10px;
  /* border: 2px solid ; */
}

/* right border on menu list */
:global .ant-menu-light.ant-menu-root.ant-menu-inline,
:global .ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
  overflow-y: scroll;
  max-height: 71vh;
}

/* font-family & size for left-menu text */
:global .ant-menu {
  font-family: sans-serif;
  font-size: 16px;
}

/* font-family & size for sub-menu in left-menu text */
:global .ant-menu .ant-menu-sub {
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 8px !important;
}

/* font-size for icons in left-menu text */
:global .ant-menu .ant-menu-submenu .ant-menu-item-icon,
:global .ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .ant-menu-item-icon,
:global .ant-menu .ant-menu-item .ant-menu-item-icon,
:global .ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .ant-menu-item-icon {
  font-size: 20px;
}

/* border color on input search in left-menu */
:global .ant-input-affix-wrapper,
:global .ant-btn-default {
  /* border-color: #56606a; */
  border-color: #d9d9d9;
}

:global .ant-btn.ant-btn-icon-only {
  width: 40px;
}

:global .ant-input-search .ant-input:hover,
:global .ant-input-search .ant-input:focus {
  border-color: #0458f7;
}

:global .ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub:not([class*='-active'])::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #F4F4F4;
}

:global .ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub:not([class*='-active'])::-webkit-scrollbar {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #F4F4F4;
  width: 5px;
}

:global .ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub:not([class*='-active']):hover::-webkit-scrollbar {
  width: 5px !important;
}

:global .ant-menu-light .ant-menu-item a:hover {
  text-decoration: none;
  color: #000000;
}

:global .ant-menu-submenu-popup,
:global .ant-menu-light.ant-menu-submenu>.ant-menu {
  border-radius: 0;
}

.customSider {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0;
  top: 0;
  bottom: 0;
  background-color: '#ffffff';
}

.logoContainer {
  padding: 0px 10px;
}


.brandLink {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.8125rem 0.5rem;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
}

.brandLink .brandImage {
  /* float: left; */
  line-height: .18;
  margin-left: 6px;
  margin-right: .5rem;
  /* margin-top: -3px; */
  /* margin-bottom: 15px; */
  max-height: 44px;
  width: auto;
}


.changeTheme {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
  bottom: 0;
  position: absolute;
  background-color: #DEDEDE;
  color: #ea2929 !important;
  width: 100%;
  cursor: pointer;
}

.changeTheme:hover {
  color: #000 !important;
}

.changeTheme svg {
  background: #fff;
  width: 30px;
  height: 30px;
  padding: 2px 6px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border: 0px solid #000000;
  margin-right: 10px;
}

.leftMenuBox :global .ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title,
.leftMenuBox :global .ant-menu-inline .ant-menu-item,
.leftMenuBox :global .ant-menu-inline .ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
  height: 30px;
}

@media (max-width: 768px) {
  .leftMenuBox {
    position: fixed !important;
    width: 100vw !important;
    box-shadow: none !important;
    min-width: 0 !important;
  }

  .changeThemeMobile {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 0px;
    font-size: 16px;
    bottom: 0;
    position: relative;
    background-color: #DEDEDE;
    color: #ea2929 !important;
    width: 100%;
    cursor: pointer;
  }

  .changeTheme {
    padding-left: 20px;
  }
}