:global .ant-layout .ant-layout-sider-trigger {
  position: fixed;
  width: 24px !important;
  top: 3px;
  z-index: 1;
  height: 48px;
  color: #ea2929;
  line-height: 48px;
  text-align: center;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
}

.customSider {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0;
  top: 0;
  bottom: 0;
  background-color: '#ffffff';
}

.changeTheme {
  height: 30px;
  text-align: center;
  bottom: 0;
  position: absolute;
  background-color: grey;
  color: #fff;
  width: 100%;
  cursor: pointer;
}