body {
  overflow: auto;
  scrollbar-color: #265791 #eeeeee;
  scrollbar-width: thin;
}

.leftMenuSider {
  width: auto;
  overflow: hidden;
  scrollbar-color: #265791 #cae6f7;
  scrollbar-width: thin;
  background: #ffffff;
  height: 100%;
  box-shadow: 5px 0 10px 0 rgb(221 221 221 / 20%);
}

.leftMenuSider:hover {
  overflow-y: auto;
}

.leftMenuSider::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

.leftMenuSider :global .ant-menu-inline-collapsed {
  width: 100%;
  text-align: center;
}

.leftMenuSider :global .ant-menu-inline-collapsed i {
  font-size: 24px !important;
}

.leftMenuSider :global .ant-menu-inline-collapsed>.ant-menu-item {
  height: auto;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  line-height: normal;
}

.leftMenuSider :global .ant-menu {
  background: transparent;
  border: 0px !important;
}

.leftMenuSider :global .ant-menu-item>a {
  font-size: 13px;
  color: #58566e;
  line-height: normal;
  display: inline-flex;
  align-items: center;
}

.leftMenuSider :global .ant-menu i {
  font-size: 24px !important;
}

.leftMenuSider :global .ant-menu-item {
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: normal;
  white-space: break-spaces;
}

.leftMenuSider :global .ant-menu-item div {
  position: absolute;
  font-size: 10px;
  color: #fff;
  background-color: #e90d18;
  padding: 2px 3px;
  border-radius: 3px;
  top: 7px;
  left: 10px;
  line-height: normal;
  min-width: 18px;
  text-align: center;
}

.leftMenuSider :global .ant-menu-inline-collapsed :global .ant-menu-item div {
  left: 26px;
}

.leftMenuSider :global .ant-menu-item-selected {
  background: transparent linear-gradient(269deg, #FFFFFF 0%, #191919 480%) no-repeat;
  color: #000000;
}

.leftMenuSider :global .ant-menu-item-selected a {
  color: #000000;
}

.leftMenuSider :global .ant-menu-item-selected::after {
  left: 0;
  right: auto;
  border-right: 3px solid #164072;
}

.mainContent {
  margin: 65px 0 0 200px;
}




.leftMenuBox {
  margin: 0px;
}


@media screen and (max-width: 1199px) {
  .leftMenuSider {
    overflow-y: auto;
  }


}

@media screen and (max-width: 767px) {

  .leftMenuSider {
    width: 100%;
  }

}