.floatRight
{
   display: flex;
   justify-content: end;
}

.rowBgColor {
    background-color:#F4F4F4;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 0 !important;
}

.validBtn {
    display: flex;
    justify-content: start;
    padding-top: 25px;
}