
 @import url('servay.css');
 
/* root properties */

.theme-light {
 --themeBG: #fff;
 --themeBG1: #fff;
}
.theme-dark {
  --themeBG: #0B0B0C;
  --themeBG1: #242424;
  
}
:root {
	--red: #ea3434;
	 --white: #fff;
	--gray: #c5c5c5;
	--gray-light: #fbfbfb;
	--gray-light1: #F4F4F4;
	--gray-dark: #343a40;
	--gray-dark1: #323731;
	--gray-dark2: #a7a7a7;
	--gray-dark3: #dfdfdf;
	--gray-dark4: #342C2C;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-size11: 11px;
	--font-size12: 12px;
	--font-size14: 14px;
	--font-size16: 16px;
	--font-size26: 26px;
	--font-size38: 38px;
	--font-size45: 45px;
	--font-size60: 60px;
    --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   /*  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
   --font-family-lato:'Lato', sans-serif;
}

/* Basic Common Class */
.fl{float:left}
.fr{float:right}
.cls{clear:both}
.pad1{padding:auto;} /*asitava*/
.pad0{padding:0px;}
.padl0{padding-left:0px;}
.padR0M{padding-right:0px;} /*asitava*/
.padR0{padding-right:0px;}
.padb10{padding-bottom:10px;}
.mr0{ margin:0px !important;}
.mrt5{ margin-top:5px;}
.mrt10{ margin-top:10px !important;}
.mrt15M{ margin-top:auto;} /*asitava*/
.mrt20{ margin-top:20px!important;}
.mrt25{ margin-top:25px!important;}
.mrt30{ margin-top:30px!important;}
.mrt70{ margin-top:70px!important;}
.mrl15{ margin-left:15px;}
.mrr5{ margin-right:5px;}
.mrb10{ margin-bottom:10px;}
.brdNon{border: none;}
.mendatory{color: #ff0000;}
.minHeight188{min-height:188px;}
.minHeight200{min-height:200px;}
.col-centered{float: none;margin: 0 auto;}
.textAlignCenter{text-align:center;}
.textAlignRight{text-align:right;}
.displayInlineBlock{display: inline-block;}
.col-centered{float: none;margin: 0 auto;}
.overflowHidden{overflow:hidden;}
.overflowYScroll{overflow-y: scroll;}
#wrapper {width: 100%; position: relative; min-height: 100%;}
.homePageWrapper{padding: 0 15px;  min-height: 568px;  background-color: #eaeaea;}/*asitava*/
#page-wrapper {padding: 0 15px; min-height: 568px;  background-color: #eaeaea;}
.fieldBorderBox{margin:0px; padding:5px; border:1px solid #D2D2D2; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; overflow:hidden; width:100%; float:left; position:relative;}
.iconSection{ margin-left: .05rem; 	margin-right: .2rem; text-align: center; width: 1.6rem;}
/* --------------- */
/* *,
*::before,
*::after { box-sizing: border-box;} */
html {line-height: 1.15; -webkit-text-size-adjust: 100%;  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  min-height: 100%;}
body { margin: 0;  font-family: var(--font-family-lato)!important; /* font-family:var(--font-family-sans-serif); */ font-size: 1rem; font-weight: 400; line-height: 1.5;  color: #212529; text-align: left; background-color: #fff; min-height: 100%;}

/* scroll */
.scrollbar{	margin: 0px; float: left; height: 230px; width:100%; overflow-y: scroll;}
#scrollHBar::-webkit-scrollbar-track{	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);	background-color: #F5F5F5;}
#scrollHBar::-webkit-scrollbar{width: 10px; background-color: #F5F5F5;}
#scrollHBar::-webkit-scrollbar-thumb{border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:var(--red);}

.themeChangeBut{position: fixed; bottom: 15px;  right: 15px; z-index: 9999; /* width: 33px; height: 33px; */ -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); border-radius: 100px; -moz-border-radius: 100px;
-webkit-border-radius: 100px; border: 0px solid #000000;margin: 0px;    padding: 0px; cursor: pointer;}
.themeChangeBut1{position: fixed; bottom: 45px;  right: 15px; z-index: 9999; /* width: 33px; height: 33px; */ -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); border-radius: 100px; -moz-border-radius: 100px;
-webkit-border-radius: 100px; border: 0px solid #000000;margin: 0px;    padding: 0px; cursor: pointer;}


.themeChangeBut1 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.themeChangeBut1 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.themeChangeBut1 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.themeChangeBut1 .slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

.themeChangeBut1 input:checked + .slider {
  background-color: #2196f3;
}

.themeChangeBut1 input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.themeChangeBut1 input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.themeChangeBut1 .slider.round {
  border-radius: 34px;
}

.themeChangeBut1 .slider.round:before {
  border-radius: 50%;
}

/* dashboard Section */


/* login section Style */
.loginSection{background:url(../../img/login_splash.png)no-repeat; width: 100vw; height: 100vh; padding:10px 0 0 0;}
.loginMMlogo{float:right; padding:10px 10px 10px 0; width:100%; text-align:right; margin-right: 10px; }
.loginlogoSection{text-align:center; margin-top:10px; color:var(--white); }
.loginlogoSection .logotext{padding:10px 0px 0px 0; text-transform: uppercase;}
.login-wrap{width: 32%; /* height:98%; */ margin:10px auto 10px; padding: 0px 7px; background:#28272C; opacity: 0.8; box-shadow: 0px 0px 8px rgba(213, 142, 167, 0.6);border-radius: 19px; -moz-border-radius: 19px; -webkit-border-radius: 19px; border: 0px solid #000000; }
.loginTxtContent{text-align:center; font-size:var(--font-size14); color: var(--white); width:100%}
.loginTxtContent h5{margin:0px; padding:0px; font-size:var(--font-size26);}
.loginLeftCorner{background:url(../../img/loginBanner.png)no-repeat top left; -webkit-background-size: cover;   -moz-background-size: cover;  -o-background-size: cover; background-size: cover; border-radius: 10px 0px 0px 10px; -moz-border-radius: 10px 0px 0px 10px; -webkit-border-radius: 10px 0px 0px 10px; border: 0px solid #000000;-webkit-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.75); -moz-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.75); box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.75); height: 43.6vw; padding:0px;}
.loginLogoCorner{background:url(../../img/mahidra_corner.png)no-repeat top left; background-size: 45% auto; padding-top:50px;}
.login-html{width:100%; height:100%; padding: 10px 20px;}
.loginContaner{margin:10px 0; padding:0px; text-align:center;}
.loginContaner img{margin:0px; padding:0px; width:40%;}
.loginHeading{margin:5px 0 30px; padding:0; text-align:center; }
.loginHeading h4{font-size:26px; color:var(--white); text-align:center; font-weight:300; margin:4px 0;}
.loginHeading .loginsubHeading{font-size:14px; color:var(--white); text-align:center; font-weight:normal;}
.login-html .sign-in-htm, .login-html .for-pwd-htm{top:0px; left:0; right:0;bottom:0;	position:absolute;	-webkit-transform:rotateY(180deg); transform:rotateY(180deg); -webkit-backface-visibility:hidden; backface-visibility:hidden;-webkit-transition:all .4s linear; transition:all .4s linear;}
.login-html .sign-in, .login-html .for-pwd, .login-form .group .check{display:none;}
.login-html .tab,.login-form .group .label, .login-form .group .button{	text-transform:uppercase;}
.login-html .tab{font-size:22px; margin-right:15px; padding-bottom:5px;	margin:0 15px 10px 0; display:inline-block;	border-bottom:2px solid transparent;}
.login-html .sign-in:checked + .tab,.login-html .for-pwd:checked + .tab{color:var(--red); border-color:#1161ee;}
.login-form{min-height:345px; position:relative; -webkit-perspective:1000px; perspective:1000px;-webkit-transform-style:preserve-3d; transform-style:preserve-3d;}
.login-form .group{margin-bottom:15px;}
.login-form .group .label, .login-form .group .input, .login-form .group .button{width:100%; color:var(--white); display:block;}
.input{width:100%; color:var(--white); display:block;     padding: 10px 20px;
    background: none; border:none;  border-bottom: 1px solid var(--white);}
.inputOTP{width:13%; color:var(--white); display:block;  padding:10px 0px; background: none; border:none;  border-bottom: 1px solid var(--white); float:left; text-align:center; margin: 0 3px;}
.input:focus, .input:active{  background: none; border:none; border-bottom: 1px solid var(--white); 
    box-shadow: none !important; color:var(--white);}
.logininputLabel{color:var(--white); font-size:(--font-size16)!important; margin: 4px 0 0 10px;}
.loginFooter{color:var(--white); text-align:center; font-weight:normal; width:100%}
.loginFooter a{font-size:var(--font-size16); color:var(--white); text-align:center; font-weight:normal;}
.login_input-group-text{background:none; color: var(--white); border:none; border-bottom: 1px solid var(--white);}
.login-form .group .input{border:none;	padding:10px 20px;	background:none;     border-bottom: 1px solid var(--white);}
.login-form .group .username{background:url(../images/login_farming.jpg)no-repeat}
/* .login-form .group .button{border:none;	padding:10px 20px;	border-radius:15px;	background:#FF3E5B;} */
.login-form .group input[data-type="password"]{	text-security:circle;-webkit-text-security:circle;}
.login-form .group .label{color:#aaa;font-size:12px;}
.login-form .group .button{	background:#FF3E5B; color:var(--white); cursor:pointer; border-radius:5px; border:none; padding:10px 20px;}
.login-form .group label .icon{	width:15px;	height:15px;  border-radius:2px; position:relative;	display:inline-block;
	background:rgba(255,255,255,.1);}
.login-form .group label .icon:before,.login-form .group label .icon:after{	content:'';	width:10px;	height:2px;	background:#fff;
	position:absolute;	-webkit-transition:all .2s ease-in-out 0s;	transition:all .2s ease-in-out 0s;}
.login-form .group label .icon:before{left:3px;	width:5px;bottom:6px;	-webkit-transform:scale(0) rotate(0); transform:scale(0) rotate(0);}
.login-form .group label .icon:after{top:6px;right:0;-webkit-transform:scale(0) rotate(0); transform:scale(0) rotate(0);}
.login-form .group .check:checked + label{color:#fff;}
.login-form .group .check:checked + label .icon{background:#1161ee;}
.login-form .group .check:checked + label .icon:before{	-webkit-transform:scale(1) rotate(45deg); transform:scale(1) rotate(45deg);}
.login-form .group .check:checked + label .icon:after{	-webkit-transform:scale(1) rotate(-45deg);transform:scale(1) rotate(-45deg);}
.login-html .sign-in:checked + .tab + .for-pwd + .tab + .login-form .sign-in-htm{-webkit-transform:rotate(0); transform:rotate(0);}
.login-html .for-pwd:checked + .tab + .login-form .for-pwd-htm{-webkit-transform:rotate(0);transform:rotate(0);}
.text-light{color:#383838!important}
.forgotOTPSec{display:none;}

/* Upper Navbar style */
.navbarSelectSection{width:100%; overflow:hidden; margin:3px 0px; border-bottom: 1px solid var(--gray-dark3);
    padding-bottom: 10px;}
.navbarSelectSection .naselectTitle{background:var(--white); padding:5px; color:var(--gray-dark)}
.dropdownFY{background:none; font-size:var(--font-size16); border: none;  margin-top: 10px; color: rgba(0,0,0,.5); width:100%;}
.navbar-white {background-color: var(--themeBG); color: #1f2d3d;}
.main-header {border-bottom: 1px solid #dee2e6;   z-index: 1034;}
.navbar-expand {  -ms-flex-flow: row nowrap; flex-flow: row nowrap; -ms-flex-pack: start;  justify-content: flex-start;}
.navbar {position: relative; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: center;
    align-items: center; -ms-flex-pack: justify; justify-content: space-between; padding: 0.5rem 0.5rem;}
.navbar-expand > .container, .navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {padding-right: 0;  padding-left: 0;}
.navbar-expand .navbar-nav {-ms-flex-direction: row; flex-direction: row; }
.navbar-expand .navbar-nav .dropdown-menu { position: absolute;}
.navbar-expand .navbar-nav .nav-link { padding-right: 1rem; padding-left: 1rem;}
.navbar-expand > .container,.navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {-ms-flex-wrap: nowrap; flex-wrap: nowrap;}
.navbar-expand .navbar-nav-scroll {overflow: visible;}
.navbar-expand .navbar-collapse {display: -ms-flexbox !important; display: flex !important; -ms-flex-preferred-size: auto; flex-basis: auto;}
.navbar-expand .navbar-toggler {display: none;}
.navbar-dark .navbar-text { color: rgba(255, 255, 255, 0.75);}
.navbar-dark .navbar-text a {color: #fff;}
.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {color: #fff;}
.main-header .navbar-nav .nav-item {margin: 0;}
.main-header .navbar-nav .nav-item .fontsize{display:block;}
.main-header .navbar-nav .nav-item .fullscreen{display:block;}
.main-header .navbar-nav[class*="-right"] .dropdown-menu {left: auto;  margin-top: -3px; right: 0;}
.navbar-nav { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; padding-left: 0; margin-bottom: 0; list-style: none;}
.form-inline .input-group{width:100%;}
.dropdown-footer,.dropdown-header{display:block;font-size:0.875rem;padding:0.5rem 1rem;text-align:center;}
.dropdown-footer{background:var(--warning); color:var(--white)}
.dropdown-footer:hover{text-decoration:none;; color:var(--gray-dark1)}
.welcomeUser{background:var(--gray-light);border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 0px solid #000000; padding:2px 3px 0; font-size:12px;}
.welcomeUser .userICO{background:var(--gray-dark3);border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; border: 0px solid #000000; padding:6px; font-size:12px;margin-right: 3px;}
.welcomeUser .userText{float: right; margin: -6px 0 0 3px;}
.welcomeUser .userServiceArea{color:var(--red)}
.dropdown-menu-right ul{margin:0px; padding:0 5px; list-style:none;}
.dropdown-menu-right ul li{margin:0px; padding:5px 0; list-style:none; border-bottom:1px solid var(--gray);overflow: hidden;}
.dropdown-menu-right ul li:last-child{border-bottom:none;}
.dropdown-menu-right ul li a{font-size:12px; color:var(--gray-dark1);  padding:5px 4px; display:block; overflow: hidden;}
.dropdown-menu-right ul li a:hover{text-decoration:none; background:var(--gray-light);}
.dropdown-menu-lg {max-width: 300px; min-width: 280px!important; padding: 0;}
.media-body{width: 90%; float: right;}
.media-body .dropdown-item-title{font-size:12pz; color:var(--red); }
.helpLine{margin: 0px 3px 0 5px; line-height: 12px; font-size: var(--font-size12); float:right}


/* container section Style */

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {width: 100%;  padding-right: 7.5px;    padding-left: 7.5px; margin-right: auto; margin-left: auto;}
.row {display: -ms-flexbox; display: flex;  -ms-flex-wrap: wrap;  flex-wrap: wrap; margin-right: -7.5px;  margin-left: -7.5px;}
.container-fluid{width:100%;padding-right:7.5px;padding-left:7.5px;margin-right:auto;margin-left:auto;}
.content-wrapper{overflow:hidden; background-color:var(--themeBG); height:100%;}
.content-wrapper > .content{padding:0 0.5rem;}

.pageHeaderNameSection{background: rgba(233,123,123,1); background: -moz-linear-gradient(top, rgba(233,123,123,1) 0%, rgba(233,123,123,1) 9%, rgba(177,176,247,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,123,123,1)), color-stop(9%, rgba(233,123,123,1)), color-stop(100%, rgba(177,176,247,1))); background: -webkit-linear-gradient(top, rgba(233,123,123,1) 0%, rgba(233,123,123,1) 9%, rgba(177,176,247,1) 100%); background: -o-linear-gradient(top, rgba(233,123,123,1) 0%, rgba(233,123,123,1) 9%, rgba(177,176,247,1) 100%); background: -ms-linear-gradient(top, rgba(233,123,123,1) 0%, rgba(233,123,123,1) 9%, rgba(177,176,247,1) 100%); background: linear-gradient(to bottom, rgba(233,123,123,1) 0%, rgba(233,123,123,1) 9%, rgba(177,176,247,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e97b7b', endColorstr='#b1b0f7', GradientType=0 ); border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #F4F4F4; padding:15px; margin:0 0 20px 0; color:var(--white); font-size:var(--font-size26)}
.pageHeaderNameSection .smallFont{font-size:var(--font-size14); text-align:right; line-height: 35px;}
.pageHeaderNameSection .smallFont a{color:var(--white); text-decoration:none;}
.pageHeaderNameSection .smallFont a:hover{color:var(--white); text-decoration:none;}
.pageHeaderNameSection .searchSec{padding-right:25px;}
.pageHeaderNameSection .searchfiedld{border-radius: 10px 0px 0px 10px; -moz-border-radius: 10px 0px 0px 10px;
-webkit-border-radius: 10px 0px 0px 10px; border: 1px solid var(--white);}
.pageHeaderNameSection .searchbutt{border-radius: 0px 10px 10px 0px; -moz-border-radius: 0px 10px 10px 0px; -webkit-border-radius: 0px 10px 10px 0px; border: 1px solid var(--white); margin-top: -7px;}

/************** Dashboard Section **************/
.search-title {margin: 5px 0; font-size: 14px; color: var(--red);  border-bottom: var(--gray1) 1px solid;  padding: 5px 15px 10px;
    width: 100%; background-color: #f2f5f8;  padding:12px 10px 10ps;}
.dashboardleftPanne{margin-top:25px; padding:10px;}
.dashboardleftPanne .heading{margin: 0 0 20px; padding: 0; font-size: var(--font-size16);}
.dashboardSection{border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 0px solid #000000;}
.dashboardSection ul{margin:0px; padding:0px; list-style:none;}

.dashboardCard-wrapper{position: relative;;}
.dashboardCard { position: relative; margin-bottom: 30px; background:var(--white); border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 0px solid #000000; -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55); box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55); /* height:150px; */}
/* .dashboardCardribbon { position: absolute; top: -6.1px;  left: 10px;}
.dashboardCardribbon:after { position: absolute; content: ""; width: 0;  height: 0;  border-left: 45px solid transparent;  border-right: 45px solid transparent;  border-top: 10px solid var(--gray-dark2);}
.dashboardCardribbon span { position: relative; display: block; text-align: center; background: var(--gray-dark2);  font-size: 14px; line-height: 1;   padding: 12px 8px 10px;  border-top-right-radius: 8px; width: 90px; color:var(--white); text-shadow: 0px 1px 0px rgba(0,0,0,.5); font-size: 18px;}
.dashboardCardribbon span:before, .dashboardCardribbon span:after { position: absolute; content: "";}
.dashboardCardribbon span:before {height: 6px; width: 6px; left: -6px; top: 0; background: var(--gray-dark2);}
.dashboardCardribbon span:after { height: 6px; width: 8px; left: -8px; top: 0; border-radius: 8px 8px 0 0; background: #484848;} */
.dashboardCardribbon{background:var(--gray-light1); font-size:var(--font-size14); display: block; padding: 10px 15px;  overflow:hidden; border-radius: 10px 10px 0px 0px; -moz-border-radius: 10px 10px 0px 0px; -webkit-border-radius: 10px 10px 0px 0px; border: 0px solid #000000; }
.dashboardCardribbon .dashboardTitle{width:50%; float:left;  text-transform: uppercase; font-weight: 800;}
.dashboardCardribbon .dashboardIco{color:var(--red); font-size:var(--font-size12); margin-right:5px;}
.dashboardCardribbon .dashboardViewMoreLink{color:var(--gray-dark); font-size:var(--font-size14); text-align:right; width:50%; float:left;}
.dashboardCardribbon .dashboardViewMoreLink a{color:var(--gray-dark); font-size:var(--font-size14); }
.dashboardCardribbon .dashboardViewMoreLink a:hover{color:var(--red); text-decoration: none; }
.dashboardChartSection{ padding:30px 0px 23px; width:100%;}
.dashboardChartBox{text-align:center; color:var(--gray-dark);  border-right: 1px solid #e3dede;}
.dashboardChartBox:last-child{border-right: 0px solid #e3dede;}
.dashboardChartBox .headingBox{text-align:center; color:var(--gray-dark); font-weight: 800; font-size:var(--font-size38);}
.dashboardChartBox .headingText{text-align:center; color:var(--red); font-weight: normal; }
.dashboardChartBox .headingText1{text-align:center; color:var(--gray-dark1); font-weight: normal; font-size: 12px;}
/* Birthday section */
.birthContaner{min-height: 200px;}
.birthdayTxtcontaner{margin:0 10px;}
.birthdayTxtcontaner .birthdayName{color:var(--red); font-size:var(--font-size14)}
.birthdayTxtcontaner .birthdayCal{color:var(--gray-dark); font-size:var(--font-size16)}
/* News Carusal section */
.newsCarsulal{margin:0px; padding:0;}
.newsCarsulal .carousel-indicators li {background-color:var(--gray);     margin: 5px;    padding:1px 2px;}
.newsCarsulal .carousel-indicators .active{background-color:var(--red)}
.newsCarsulal_contaner{margin:0px; padding:20px;}
.newsCarsulal_contaner h4{margin:0px; padding:0px; font-size: 1.2rem; text-align:center; color: var(--red)}
.newsCarsulal_contaner .textContaner{margin:0px; padding:0px; font-size: 0.9rem;  color: var(--gray-dark); height:130px;}


/* dashboard dragable section */ 
.drag-sort-enable{margin:20px 0; padding:0px; list-style:none;}
/* .drag-sort-enable li{margin:20px 0; padding:0px; list-style:none; width: 100%;}  */
.drag-sort-enable li { margin: 5px 0; padding: 0 5px; /* line-height: 40px; */ list-style: none; width:33.33%; float:left;}
.drag-sort-enable li.drag-sort-active { background: transparent; color: transparent;  border: 1px solid #4ca1af;}
.drag-sort-enable span.drag-sort-active { background: transparent;  color: transparent;}
.dashboardList{margin:0px; padding:0px; list-style:none; width:100%}
.dashboardList li{margin:5px 0px; padding:0px; list-style:none; width:100%}
/* dashboard dragable btn */
.btn-tool{background-color:transparent;color:#adb5bd;font-size:0.875rem;margin:-0.75rem 0;padding:.25rem .5rem;}
.btn-tool:hover{color:#495057;}
.btn-tool:focus{box-shadow:none!important;}
.btn:disabled{cursor:not-allowed;}

/* card section here */
.card-header::after,.card-body::after{display:block;clear:both;content:"";}
.card-header{background-color:transparent;border-bottom:1px solid rgba(0, 0, 0, 0.125);padding:0.75rem 1.25rem;position:relative;border-top-left-radius:0.25rem;border-top-right-radius:0.25rem;}
.card-header > .card-tools{float:right;margin-right:-0.625rem;}
.card-title{float:left;font-size:1.1rem;font-weight:400;margin:0;}
.card-title .titleICO{    color: var(--gray-dark);  font-size: var(--font-size16);  margin-right: 5px;}


 .direct-chat .card-body{overflow-x:hidden;padding:0;position:relative;}
.direct-chat-messages{-webkit-transform:translate(0, 0);transform:translate(0, 0);height:250px;/* overflow:auto; */padding:10px;}
.direct-chat-messages{transition:-webkit-transform .5s ease-in-out;transition:transform .5s ease-in-out;transition:transform .5s ease-in-out, -webkit-transform.5s ease-in-out;}
.direct-chat-messages .dashboardGraphBox{width:100%; overflow:hidden;}
.direct-chat-messages .dashboardGraphBox .graphBoxfirstSec, .direct-chat-messages .dashboardGraphBox .graphBoxSecoundSec, .direct-chat-messages .dashboardGraphBox .graphBoxthirdSec, .direct-chat-messages .dashboardGraphBox .graphBoxforthSec{width:50%;     height: 85px; float:left; overflow:hidden; border:1px solid var(--gray-light1); text-align: center; font-size:var(--font-size45);  padding: 11px 0;}
.direct-chat-messages .dashboardGraphBox .graphBoxfirstSec{border-left:0px solid var(--gray-light1); border-top:0px solid var(--gray-light1); color:var(--primary) }
.direct-chat-messages .dashboardGraphBox .graphBoxSecoundSec{border-right:0px solid var(--gray-light1); border-top:0px solid var(--gray-light1); color:var(--red) }
.direct-chat-messages .dashboardGraphBox .graphBoxthirdSec{border-left:0px solid var(--gray-light1); border-bottom:0px solid var(--gray-light1); color:var(--warning)}
.direct-chat-messages .dashboardGraphBox .graphBoxforthSec{border-right:0px solid var(--gray-light1); border-bottom:0px solid var(--gray-light1); color:var(--success)}
/* table start here */
#example_filter{float: right; width: 30%;}
.dataTables_length{float: left; width: 30%;}
.tableContaner{overflow:auto; width:98%; margin-left:auto; margin-right:auto; }
 .productHeadertable {margin:5px auto; padding:0px;	width:99%; /*	-moz-box-shadow:0 1px 0px #888; -webkit-box-shadow: 0 1px 0px #888;	box-shadow: 0 1px 2px #888;; border:1px solid #DDDDDD; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; */} 
.productHeadertable table{border-collapse: collapse; border-spacing: 0; width:100%; /*height:100%;*/	margin:0px;padding:0px;}
.productHeadertable thead{/*background:-o-linear-gradient(bottom, #fff 5%, #F3F3F3 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff), color-stop(1, #F3F3F3) );
	background:-moz-linear-gradient( center top, #fff 5%, #F3F3F3 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff", endColorstr="#F3F3F3");	background: -o-linear-gradient(top,#fff,#F3F3F3);*/
		border-width:0px 0px 1px 1px; }
		
.productHeadertable thead th{font-size:14px; text-align:left; line-height:30px; font-weight:bold; color:#342C2C; background-color:#F4F4F4; border:0px solid #ccc; padding:10px; min-width: 117px;}
/* .productHeadertable thead th{font-size:12px; font-weight:bold;	color:#353536; background-color:#e0e0e0; border:1px solid #ccc;	text-align:center; padding:3px; min-width: 117px;} */
.productHeadertable tr:last-child td:last-child {	-moz-border-radius-bottomright:5px;	-webkit-border-bottom-right-radius:5px;	border-bottom-right-radius:5px;}
.productHeadertable table tr:first-child td:first-child {-moz-border-radius-topleft:5px;	-webkit-border-top-left-radius:5px;	border-top-left-radius:5px;}
.productHeadertable table tr:first-child td:last-child {	-moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px;	border-top-right-radius:5px;}
.productHeadertable tr:last-child td:first-child{	-moz-border-radius-bottomleft:5px;	-webkit-border-bottom-left-radius:5px;	border-bottom-left-radius:5px;}
.productHeadertable tr{background-color:#ffffff; border:1px solid #DEDEDE;}
.productHeadertable tr:hover td{ background-color:#e8eaeb;}
/* .productHeadertable tr:nth-child(even){ background-color:#f7f7f7; }
.productHeadertable tr:nth-child(odd)    { background-color:#ffffff; } */
.productHeadertable td{/*vertical-align:top; border:1px solid #DDDDDD; border-width:0px 1px 1px 0px; */text-align:left; padding:10px; line-height:22px; font-size:14px;	font-weight:normal;	color:#515151;}


/*    ------ text color ------*/
.productHeadertable .success-text td{text-align:left; padding:10px; line-height:22px; font-size:14px;	font-weight:normal;	 color:#00A310;}
.productHeadertable .danger-text td{text-align:left; padding:10px; line-height:22px; font-size:14px;	font-weight:normal;	 color:#E31837;}
.productHeadertable .warning-text td{text-align:left; padding:10px; line-height:22px; font-size:14px;	font-weight:normal;	 color:#FF7A00;}

.productHeadertable td a{color:#C64211; text-decoration:none;}
.productHeadertable td a:hover{color:#a3401b; text-decoration:none;}
.productHeadertable tr:last-child td{	border-width:0px 1px 0px 0px;}
.productHeadertable tr td:last-child{border-width:0px 0px 1px 0px;}
.productHeadertable tr:last-child td:last-child{	border-width:0px 0px 0px 0px;}
/*.productHeadertable tr:first-child td{}
.productHeadertable tr:first-child:hover td{	background:-o-linear-gradient(bottom, #F3F3F3 5%, #dbd9d9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F3F3F3), color-stop(1, #dbd9d9) );
	background:-moz-linear-gradient( center top, #F3F3F3 5%, #dbd9d9 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#F3F3F3", endColorstr="#dbd9d9");	background: -o-linear-gradient(top,#F3F3F3,#dbd9d9); background-color:#F3F3F3;}*/
.productHeadertable tr:first-child td:first-child{border-width:0px 1px 1px 0px;}
.productHeadertable tr:first-child td:last-child{border-width:0px 0px 1px 1px;}
.productHeadertable tr:first-child td a{color:#526f82; text-decoration:none;}
.productHeadertable tr:first-child td a:hover{color:#2b83ba; text-decoration:underline;}

/******************** Tab section Style********************/

.tabSection{margin:0px; padding:0px;}
.tabSection .nav-item .nav-link, .tabSection .nav-tabs .nav-link {-webkit-transition: all 300ms ease 0s; -moz-transition: all 300ms ease 0s;  -o-transition: all 300ms ease 0s; -ms-transition: all 300ms ease 0s; transition: all 300ms ease 0s;}
.tabSection .now-ui-icons {display: inline-block;font: normal normal normal 14px/1 ;  font-size: inherit; speak: none;  text-transform: none; -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;}
.tabSection .nav-tabs {border: 0; padding: 15px 0.7rem}
.tabSection .nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active { box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);}
.tabSection .nav-tabs {border-top-right-radius: 0.1875rem;    border-top-left-radius: 0.1875rem;}
.tabSection .nav-tabs>.nav-item>.nav-link { color: #888888; margin: 0; margin-right: 5px; background-color: transparent; border: 1px solid transparent; border-radius: 30px; font-size: 14px; padding: 11px 23px; line-height: 1.5;}
.tabSection .nav-tabs>.nav-item>.nav-link:hover {background-color: transparent;}
.tabSection .nav-tabs>.nav-item>.nav-link.active { background-color: #444; border-radius: 30px; color: #FFFFFF;}
.tabSection .nav-tabs>.nav-item>.nav-link i.now-ui-icons {font-size: 14px; position: relative; top: 1px;    margin-right: 3px;}
.tabSection .nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {color: #FFFFFF;}
.tabSection .nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active { background-color: rgba(255, 255, 255, 0.2); color: #FFFFFF;}

/******************** gradient band for top body********************/


/* -------------Toggle button---------------------- */



/* @toggle-default-size: 1.5rem;
@toggle-default-label-width: 4rem;
@toggle-default-font-size: .75rem; */
.switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
.switchToggle label {cursor: pointer; text-indent: -9999px; width: 100px; max-width: 100px; height: 30px; background: #d1d1d1; display: block; border-radius: 100px; position: relative; margin: 0px;}
.switchToggle label:after {content: ''; position: absolute; top: 2px; left: 2px; width: 26px; height: 26px; background: #fff; border-radius: 90px; transition: 0.3s; }
.switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: #FF3E5B; }
.switchToggle input + label:before, .switchToggle input + input + label:before {content: 'Inactive'; position: absolute; top: 5px; left: 35px; width: 66px; height: 20px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: 'Active'; position: absolute; top: 5px; left: 10px; width: 66px; height: 20x; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
.switchToggle label:active:after {width: 60px; } 
.toggle-switchArea { margin: 5px 0 5px 0; }
/*- yes/no toggle-*/

.or-text{font-size: 11px; color: #FFFFFF; top:120px; display:inline-block;}
.grey-bg{background-color: #DEDEDE; width: 90%; height: 30px;}

.form_card .rightbtn{float: right;	vertical-align: middle;}

.main-footer{background-color: var(--gray-dark4);   border-top: 1px solid #dee2e6;  color:var(--gray-light);  padding: 1rem 1.5rem 0; font-size:var(--font-size11);}
.main-footer .link{font-size:var(--font-size12); color:var(--white); text-align:center; text-transform:uppercase;}
.main-footer .link a{font-size:var(--font-size14); color:var(--white); margin:0px 15px;}
.main-footer .link a:hover{text-decoration:none; color:var(--red);}
/******************Media Query Start**********************/
@media print{
*,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
p,h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
body{min-width:992px!important;}
.navbar{display:none;}
.badge{border:1px solid #000;}
.main-header{display:none!important;}
}

@media (min-width: 576px){
	.container, .container-sm {max-width: 540px;}
}

@media (prefers-reduced-motion: reduce){

}
@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        transition: none;
    }
	
}
@media (min-width: 768px) {
	  body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        transition: margin-left 0.3s ease-in-out;
        margin-left: 250px;
    }
	/* body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header{transition:margin-left 0.3s ease-in-out;margin-left:250px;} */
    .container, .container-sm, .container-md { max-width: 720px;}
	
}
@media screen and (max-width: 768px) {
    .tabSection .nav-tabs {display: inline-block; width: 100%;  padding-left: 100px; padding-right: 100px; text-align: center;}
    .tabSection .nav-tabs .nav-item>.nav-link {margin-bottom: 5px;}
	.ribbons-wrapper {display: flex; flex-wrap: wrap; justify-content: space-between;}
	.drag-sort-enable li{width:100%;}
	.main-header .navbar-nav .nav-item .fontsize{display:none;}
	.main-header .navbar-nav .nav-item .fullscreen{display:none;}
	.navbar-expand .navbar-nav .nav-link { padding-right: 0.5rem; padding-left: 0.5rem;}
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {max-width: 960px;}
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {max-width: 1140px;}
}






@media (max-width: 991.98px){
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header{margin-left:0;}
}


