/* root properties */

.theme-light {
	--themeBG: #f4f4f4;
	--themeBG1: #f4f4f4;
	--bredcrumb: rgba(0, 0, 0, .5);
	--leftMenu: #342C2C;
	--dashboardCardHeader: #fff;
	--headerColor: ##0B0B0C;
}

.theme-dark {
	--themeBG: #0B0B0C;
	--themeBG1: #242424;
	--bredcrumb: rgba(255, 255, 255, 0.8);
	--leftMenu: #FFFFFF;
	--dashboardCardHeader: #635D5D;
	--headerColor: #DEDEDE;
}

:root {
	--red: #ea3434;
	--white: #fff;
	--gray: #c5c5c5;
	--gray-light: #fbfbfb;
	--gray-light1: #F4F4F4;
	--gray-dark: #343a40;
	--gray-dark1: #323731;
	--gray-dark2: #a7a7a7;
	--gray-dark3: #dfdfdf;
	--gray-dark4: #342C2C;
	--gray-dark5: #242424;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-size11: 11px;
	--font-size12: 12px;
	--font-size14: 14px;
	--font-size16: 16px;
	--font-size20: 20px;
	--font-size26: 26px;
	--font-size38: 38px;
	--font-size45: 45px;
	--font-size60: 60px;
	--font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/*  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
	--font-family-lato: 'Lato', sans-serif;
}

/* Basic Common Class */
.fl {
	float: left;
}

.fr {
	float: right;
}

.btm0 {
	bottom: 0;
}

/*Ashutosh*/
.left0 {
	left: 0;
}

/*Ashutosh*/
.cls {
	clear: both
}

.pad1 {
	padding: auto;
}

/*asitava*/
.pad0 {
	padding: 0px;
}

.pad7 {
	padding: 7px;
}

/*Ashutosh*/
.pad20 {
	padding: 20px;
}

/*Ashutosh*/
.padl0 {
	padding-left: 0px;
}

.padl23 {
	padding-left: 23px;
}

.padR0M {
	padding-right: 0px;
}

.padR0 {
	padding-right: 0px;
}
.padl9{padding-left: 9px}
.padl15 {
	padding-left: 15px !important;
}
.padr27 {
	padding-right: 27px !important;
}
.padb10 {
	padding-bottom: 10px;
}

.padt10 {
	padding-top: 10px;
}

.padt20 {
	padding-top: 20px;
}

.mr0 {
	margin: 0px !important;
}

.mrt5 {
	margin-top: 5px !important;
}

.mrt10 {
	margin-top: 10px !important;
}

.mrt15M {
	margin-top: auto;
}

/*asitava*/
.mrt20 {
	margin-top: 20px !important;
}

.mrt25 {
	margin-top: 25px !important;
}

.mrt30 {
	margin-top: 30px !important;
}

.mrt70 {
	margin-top: 70px !important;
}

.mrl15 {
	margin-left: 15px !important;
}

.mrl33 {
	margin-left: 33px !important;
}

.mrl2 {
	margin-left: 2px;
}

/* Ashutosh*/
.mrr5 {
	margin-right: 5px !important;
}

.mrr16 {
	margin-right: 16px !important;
}

/* Ashutosh*/
.mrr30 {
	margin-right: 30px;
}

/* Ashutosh*/
.mrb10 {
	margin-bottom: 10px;
}

.mrb30 {
	margin-bottom: 30px;
}

.mrb70 {
	margin-bottom: 70px;
}

.mrb150 {
	margin-bottom: 150px;
}

/*Ashutosh*/
.mrb50 {
	margin-bottom: 50px !important;
}

/*Ashutosh*/
.postnFix {
	position: fixed;
}

/*Ashutosh*/
.zIndex99 {
	z-index: 99;
}

/*Ashutosh*/
.brdNon {
	border: none !important;
}

/* Added important to make it work properly - Ashutosh*/
.mendatory {
	color: #ff0000;
}

.minHeight188 {
	min-height: 188px;
}

.minHeight200 {
	min-height: 200px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.textAlignCenter {
	text-align: center;
}

.textAlignRight {
	text-align: right;
}

.displayBlock {
	display: block;
}

.displayInlineBlock {
	display: inline-block;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.overflowHidden {
	overflow: hidden;
}

.overflowYScroll {
	overflow-y: scroll;
}

.displayNON {
	display: none
}

.bordrRad50 {
	border-radius: 50%;
	border: 1px solid #ea3434;
}

/*Ashutosh*/
.fullWidth {
	width: 100% !important;
}

/* Added new class - Ashutosh*/
.minHeight40 {
	min-height: 40px !important;
}

/* Added new class - Ashutosh*/
.minHeight50 {
	min-height: 50px !important;
}

/* Added new class - Ashutosh*/
.boxShdwNon {
	box-shadow: none !important;
}

/* Added new class - Ashutosh*/
.fontWeight600 {
	font-weight: 600 !important;
}

/* Added new class - Ashutosh*/
#wrapper {
	width: 100%;
	position: relative;
	min-height: 100%;
}

.homePageWrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #eaeaea;
}

/*asitava*/
#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	/* background-color: #eaeaea; */
}

.fieldBorderBox {
	margin: 0px;
	padding: 5px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	width: 100%;
	float: left;
	position: relative;
}

.iconSection {
	margin-left: .05rem;
	margin-right: .2rem;
	text-align: center;
	width: 1.6rem;
}

.otpnum {
	display: none;
}

.displayNun {
	display: none;
}