
/*************button*************/
.buttonHolder {
	text-align: center;
	width: 100%;
  }
.btn.btn-outline {
	border: 1px solid #FF3E5B;
	border-radius: 3px;
	position: relative;
	padding: 8px 22px;
	margin: 8px 1px;
	font-size: 12px;
	color: $var-appBut;
	background-color: $var-white;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0;
	will-change: box-shadow, transform;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:focus {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:active {
		background-color: $var-appBut;
		color: $var-white;
		&:focus {
			background-color: $var-appBut;
			color: $var-white;
		}
		&:hover {
			background-color: $var-appBut;
			color: $var-white;
		}
	}
	.rightbtn {
		float: right;
		vertical-align: bottom;
		margin-left: 20px;
	  }
	  .leftbtn {
		float: left;
		vertical-align: bottom;
		margin-left: 20px;
	  }
	  .centerbtn {
		text-align: center;
		vertical-align: bottom;
		
	  }
}
.btn.btn-outline.srchbtn {
	border: 1px solid #FF3E5B;
	border-radius: 0px 3px 3px 0px;
	padding: 10px 17px;
	height: 36px;
}
.btn.btn-outline.active {
	background-color: $var-appBut;
	color: $var-white;
	&:focus {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:hover {
		background-color: $var-appBut;
		color: $var-white;
	}
}
.open {
	>.btn.btn-outline.dropdown-toggle {
		background-color: $var-appBut;
		color: $var-white;
		&:focus {
			background-color: $var-appBut;
			color: $var-white;
		}
		&:hover {
			background-color: $var-appBut;
			color: $var-white;
		}
	}
	>.btn.btn-warning.dropdown-toggle {
		background-color: $var-orange;
		color: $var-white;
		&:focus {
			background-color: $var-orange;
			color: $var-white;
		}
		&:hover {
			background-color: $var-orange;
			color: $var-white;
		}
	}
	>.btn_outline.btn-danger.dropdown-toggle {
		background-color: $var-appBut;
		color: $var-white;
		&:focus {
			background-color: $var-appBut;
			color: $var-white;
		}
		&:hover {
			background-color: $var-appBut;
			color: $var-white;
		}
	}
	>.btn.btn-danger.dropdown-toggle {
		background-color: $var-appBut;
		color: $var-white;
		&:focus {
			background-color: $var-appBut;
			color: $var-white;
		}
		&:hover {
			background-color: $var-appBut;
			color: $var-white;
		}
	}
	>.btn.btn-add.dropdown-toggle {
		background-color: $var-backgroundTrans;
		color: $var-white;
		&:focus {
			background-color: $var-backgroundTrans;
			color: $var-white;
		}
		&:hover {
			background-color: $var-backgroundTrans;
			color: $var-white;
		}
	}
	>.btn.btn-browse.dropdown-toggle {
		background-color: $var-backgroundTrans;
		color: $var-white;
		&:focus {
			background-color: $var-backgroundTrans;
			color: $var-white;
		}
		&:hover {
			background-color: $var-backgroundTrans;
			color: $var-white;
		}
	}
}
.btn.btn-success {
	&:focus {
		box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
	}
	&:active {
		box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
	}
	&:hover {
		box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
	}
	&:disabled {
		box-shadow: none;
		&:hover {
			box-shadow: none;
		}
		&:focus {
			box-shadow: none;
		}
		&:active {
			box-shadow: none;
		}
	}
	&:disabled.focus {
		box-shadow: none;
	}
	&:disabled.active {
		box-shadow: none;
	}
}
.btn.btn-success.disabled {
	box-shadow: none;
	&:hover {
		box-shadow: none;
	}
	&:focus {
		box-shadow: none;
	}
	&:active {
		box-shadow: none;
	}
}
.btn.btn-success.disabled.focus {
	box-shadow: none;
}
.btn.btn-success.disabled.active {
	box-shadow: none;
}
.btn.btn-success[disabled] {
	box-shadow: none;
	&:hover {
		box-shadow: none;
	}
	&:focus {
		box-shadow: none;
	}
	&:active {
		box-shadow: none;
	}
}
.btn.btn-success[disabled].focus {
	box-shadow: none;
}
.btn.btn-success[disabled].active {
	box-shadow: none;
}
fieldset[disabled] {
	.btn.btn-success {
		box-shadow: none;
		&:hover {
			box-shadow: none;
		}
		&:focus {
			box-shadow: none;
		}
		&:active {
			box-shadow: none;
		}
	}
	.btn.btn-success.focus {
		box-shadow: none;
	}
	.btn.btn-success.active {
		box-shadow: none;
	}
	.btn.btn-warning {
		box-shadow: none;
		&:hover {
			box-shadow: none;
		}
		&:focus {
			box-shadow: none;
		}
		&:active {
			box-shadow: none;
		}
	}
	.btn.btn-warning.focus {
		box-shadow: none;
	}
	.btn.btn-warning.active {
		box-shadow: none;
	}
}
.btn.btn-success.btn-simple {
	background-color: $var-lightGreen;
	color: $var-lightGreen;
	box-shadow: none;
	&:hover {
		background-color: $var-lightGreen;
		color: $var-lightGreen;
	}
	&:focus {
		background-color: $var-lightGreen;
		color: $var-lightGreen;
	}
	&:active {
		background-color: $var-lightGreen;
		color: $var-lightGreen;
	}
}
.btn.btn-warning {
	box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
	background-color: $var-orange;
	color: $var-white;
	&:hover {
		background-color: $var-orange;
		color: $var-white;
		box-shadow: 0 14px 26px -12px rgba(255, 152, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
	}
	&:focus {
		background-color: $var-orange;
		color: $var-white;
		box-shadow: 0 14px 26px -12px rgba(255, 152, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
	}
	&:active {
		background-color: $var-orange;
		color: $var-white;
		box-shadow: 0 14px 26px -12px rgba(255, 152, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
		&:focus {
			background-color: $var-orange;
			color: $var-white;
		}
		&:hover {
			background-color: $var-orange;
			color: $var-white;
		}
	}
	&:disabled {
		box-shadow: none;
		&:hover {
			box-shadow: none;
		}
		&:focus {
			box-shadow: none;
		}
		&:active {
			box-shadow: none;
		}
	}
	&:disabled.focus {
		box-shadow: none;
	}
	&:disabled.active {
		box-shadow: none;
	}
}
.btn.btn-warning.active {
	background-color: $var-orange;
	color: $var-white;
	&:focus {
		background-color: $var-orange;
		color: $var-white;
	}
	&:hover {
		background-color: $var-orange;
		color: $var-white;
	}
}
.btn.btn-warning.disabled {
	box-shadow: none;
	&:hover {
		box-shadow: none;
	}
	&:focus {
		box-shadow: none;
	}
	&:active {
		box-shadow: none;
	}
}
.btn.btn-warning.disabled.focus {
	box-shadow: none;
}
.btn.btn-warning.disabled.active {
	box-shadow: none;
}
.btn.btn-warning[disabled] {
	box-shadow: none;
	&:hover {
		box-shadow: none;
	}
	&:focus {
		box-shadow: none;
	}
	&:active {
		box-shadow: none;
	}
}
.btn.btn-warning[disabled].focus {
	box-shadow: none;
}
.btn.btn-warning[disabled].active {
	box-shadow: none;
}
.btn.btn-warning.btn-simple {
	background-color: $var-warning;
	color: $var-orange;
	box-shadow: none;
	&:hover {
		background-color: $var-warning;
		color: $var-orange;
	}
	&:focus {
		background-color: $var-warning;
		color: $var-orange;
	}
	&:active {
		background-color: $var-lightGreen;
		color: $var-orange;
	}
}
.btn.btn-danger {
	box-shadow: 0 2px 2px 0 #FF3E5B, 0 3px 1px -2px #FF3E5B, 0 1px 5px 0 #FF3E5B;
	background-color: $var-appBut;
	color: $var-white;
	&:hover {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:focus {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:active {
		background-color: $var-appBut;
		color: $var-white;
		&:focus {
			background-color: $var-appBut;
			color: $var-white;
		}
		&:hover {
			background-color: $var-appBut;
			color: $var-white;
		}
	}
}
.btn_outline.btn-danger {
	background-color: $var-appBut;
	color: $var-white;
	&:hover {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:focus {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:active {
		background-color: $var-appBut;
		color: $var-white;
		&:focus {
			background-color: $var-appBut;
			color: $var-white;
		}
		&:hover {
			background-color: $var-appBut;
			color: $var-white;
		}
	}
}
.btn_outline.btn-danger.active {
	background-color: $var-appBut;
	color: $var-white;
	&:focus {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:hover {
		background-color: $var-appBut;
		color: $var-white;
	}
}
.btn.btn-danger.active {
	background-color: $var-appBut;
	color: $var-white;
	&:focus {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:hover {
		background-color: $var-appBut;
		color: $var-white;
	}
}
.btn.btn-add {
	box-shadow: 0 2px 2px 0 rgba(188, 83, 43, 0.14), 0 3px 1px -2px rgba(188, 83, 43, 0.2), 0 1px 5px 0 rgba(188, 83, 43, 0.12);
	background-color: $var-backgroundTrans;
	color: $var-white;
	&:hover {
		background-color: $var-backgroundTrans;
		color: $var-white;
	}
	&:focus {
		background-color: $var-backgroundTrans;
		color: $var-white;
	}
	&:active {
		background-color: $var-backgroundTrans;
		color: $var-white;
		&:focus {
			background-color: $var-backgroundTrans;
			color: $var-white;
		}
		&:hover {
			background-color: $var-backgroundTrans;
			color: $var-white;
		}
	}
}
.btn.btn-add.active {
	background-color: $var-backgroundTrans;
	color: $var-white;
	&:focus {
		background-color: $var-backgroundTrans;
		color: $var-white;
	}
	&:hover {
		background-color: $var-backgroundTrans;
		color: $var-white;
	}
}
.btn.btn-browse {
	box-shadow: 0 2px 2px 0 rgba(188, 83, 43, 0.14), 0 3px 1px -2px rgba(188, 83, 43, 0.2), 0 1px 5px 0 rgba(188, 83, 43, 0.12);
	padding: 5px 10px;
	background-color: $var-backgroundTrans;
	color: $var-white;
	&:hover {
		background-color: $var-backgroundTrans;
		color: $var-white;
	}
	&:focus {
		background-color: $var-backgroundTrans;
		color: $var-white;
	}
	&:active {
		background-color: $var-backgroundTrans;
		color: $var-white;
		&:focus {
			background-color: $var-backgroundTrans;
			color: $var-white;
		}
		&:hover {
			background-color: $var-backgroundTrans;
			color: $var-white;
		}
	}
}
.btn.btn-browse.active {
	background-color: $var-backgroundTrans;
	color: $var-white;
	&:focus {
		background-color: $var-backgroundTrans;
		color: $var-white;
	}
	&:hover {
		background-color: $var-backgroundTrans;
		color: $var-white;
	}
}
.smallbtn {
	padding: 5px;
	margin: 1px;
}
.rejectButton_active {
	background-color: $var-appBut1 !important;
}
.approveButton_active {
	background-color: $var-appBut1 !important;
}
.btn-outline_main {
	border: 1px solid #FF3E5B;
	border-radius: 3px;
	position: relative;
	padding: 10px 26px;
	margin: 8px 1px;
	font-size: 12px;
	color: $var-appBut;
	background-color: $var-white;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0;
	will-change: box-shadow, transform;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:focus {
		background-color: $var-appBut;
		color: $var-white;
	}
	&:active {
		background-color: $var-appBut;
		color: $var-white;
	}
}
.btn-tool {
	background-color: $var-lightGreen;
	color: $var-gray-bluish;
	font-size: 0.875rem;
	margin: -0.75rem 0;
	padding: .25rem .5rem;
	&:hover {
		color: $var-gray-bluish1;
	}
	&:focus {
		box-shadow: none !important;
	}
}
.btn {
	&:disabled {
		cursor: not-allowed;
	}
}
