.displayNun {
	display: none;
}

.cls {
	clear: both
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.btm0 {
	bottom: 0;
}

.left0 {
	left: 0;
}

.pad1 {
	padding: auto;
}

.pad0 {
	padding: 0px;
}

.pad7 {
	padding: 7px;
}

.pad20 {
	padding: 20px;
}

.padl0 {
	padding-left: 0px;
}

.padl23 {
	padding-left: 23px;
}

.padR0M {
	padding-right: 0px;
}

.padR0 {
	padding-right: 0px;
}

.padl9 {
	padding-left: 9px;
}

.padl15 {
	padding-left: 15px !important;
}

.padr27 {
	padding-right: 27px !important;
}

.padb10 {
	padding-bottom: 10px;
}

.padt10 {
	padding-top: 10px;
}

.padt20 {
	padding-top: 20px;
}

.mr0 {
	margin: 0px !important;
}

.mrt5 {
	margin-top: 5px !important;
}

.mrt10 {
	margin-top: 10px !important;
}

.mrt15M {
	margin-top: auto;
}

.mrt20 {
	margin-top: 20px !important;
}

.mrt25 {
	margin-top: 25px !important;
}

.mrt30 {
	margin-top: 30px !important;
}

.mrt70 {
	margin-top: 70px !important;
}

.mrl-15 {
	margin-left: -15px !important;
}

.mrl15 {
	margin-left: 15px !important;
}

.mrl33 {
	margin-left: 33px !important;
}

.mrl2 {
	margin-left: 2px;
}

.mrl5 {
	margin-left: 5px;
}

.mrr5 {
	margin-right: 5px !important;
}

.mrr16 {
	margin-right: 16px !important;
}

.mrr30 {
	margin-right: 30px;
}

.mrb0 {
	margin-bottom: 0px !important;
}

.mrb10 {
	margin-bottom: 10px;
}

.mrb30 {
	margin-bottom: 30px;
}

.mrb70 {
	margin-bottom: 70px;
}

.mrb150 {
	margin-bottom: 150px;
}

.mrb50 {
	margin-bottom: 50px !important;
}

.postnFix {
	position: fixed;
}

.zIndex99 {
	z-index: 99;
}

.brdNon {
	border: none !important;
}

.mendatory {
	color: $var-red;
}

.minHeight188 {
	min-height: 188px;
}

.minHeight200 {
	min-height: 200px;
}

.col-centered {
	float: none;
	margin: 0 auto;
	float: none;
	margin: 0 auto;
}

.textAlignCenter {
	text-align: center;
}

.textAlignRight {
	text-align: right;
}

.displayBlock {
	display: block;
}

.displayInlineBlock {
	display: inline-block;
}

.overflowHidden {
	overflow: hidden;
}

.overflowYScroll {
	overflow-y: scroll;
}

.displayNON {
	display: none;
}

.bordrRad50 {
	border-radius: 50%;
	border: 1px solid #ea3434;
}

.fullWidth {
	width: 100% !important;
}

.minHeight40 {
	min-height: 40px !important;
}

.minHeight50 {
	min-height: 50px !important;
}

.boxShdwNon {
	box-shadow: none !important;
}

.fontWeight600 {
	font-weight: 600 !important;
}

/*************inner Page Common***************/

#wrapper {
	width: 100%;
	position: relative;
	min-height: 100%;
}

.homePageWrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: $var-gray-light1;
}

#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
}

.fieldBorderBox {
	margin: 0px;
	padding: 5px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	width: 100%;
	float: left;
	position: relative;
}

.iconSection {
	margin-left: .05rem;
	margin-right: .2rem;
	text-align: center;
	width: 1.6rem;
}

.otpnum {
	display: none;
}


html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	min-height: 100%;
}

body {
	margin: 0;
	font-family: $var-font-family-lato !important;
	/* font-family:$var-font-family-sans-serif; */
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
	min-height: 100%;
}

.content-wrapper {
	overflow: hidden;
	height: 100%;

	&>.content {
		padding: 0 0.5rem;

		.container-fluid {
			width: 100%;
			padding-right: 7.5px;
			padding-left: 7.5px;
			margin-right: auto;
			margin-left: auto;
		}
	}

}