.main-footer {
	background-color: $var-gray-dark4;
	border-top: 1px solid $var-gray-dark4;
	color: $var-gray-light;
	padding: 0.8rem 1.5rem 0;
	font-size: $var-font-size11;
	.link {
		font-size: $var-font-size12;
		color: $var-white;
		text-align: center;
		text-transform: uppercase;
		a {
			font-size: $var-font-size14;
			color: $var-white;
			margin: 0px 15px;
			&:hover {
				text-decoration: none;
				color: $var-red;
			}
		}
	}
}