/*************error messages start***************/
.errorLoginPoP {
    width: 25%;
    max-height: 90%;
    margin: 3% auto;
    padding: 15px;
    background: $var-gray-dark5;
    color: #DEDEDE;
    font-size: $var-font-size16;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid $var-red;
    overflow: auto;
    position: fixed;
    top: 10%;
    right: 0;
    h5 {
        margin: 0 0 5px 0;
        padding: 0px;
        border-bottom: 1px solid $var-red;
        font-size: 16px;
        color: $var-white;
        padding-bottom: 5px;
        .icon {
            color: $var-red;
            padding-bottom: 5px;
          }
        .loginErrorClose{
            float:$var-floatR;
            cursor: pointer; 
        }
      }
  }