/*************NavBar***************/


 .main-header {
  border-bottom: 0px solid #dee2e6;
  z-index: 1034;
}
// .navbar-white {
//   background-color: $var-dashboardCardHeader;
//   color: #1f2d3d;
// }

// .navbar {
//   position: relative;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   -ms-flex-align: center;
//   align-items: center;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   padding: 0.5rem 0.5rem;
// }
// .navbar-expand {
//   -ms-flex-flow: row nowrap;
//   flex-flow: row nowrap;
//   -ms-flex-pack: start;
//   justify-content: flex-start;
//   .navbar-nav {
//     -ms-flex-direction: row;
//     flex-direction: row;
//     .dropdown-menu {
//       position: absolute;
//     }
//     .nav-link { 
//       padding-right: 1rem;
//       padding-left: 1rem;
//       color: $var-bredcrumb;
//       &:focus, &:hover {
//       color: $var-bredcrumb;
//       }
//     }
//   }
// }



// @media (min-width: 768px) and (prefers-reduced-motion: reduce) {
//   body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
//     body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
//     body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
// 	transition: none;
// }


  
//   }

//   @media (min-width: 768px) {

//     body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
//     body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
//     body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
// 	transition: margin-left 0.3s ease-in-out;
// 	margin-left: 250px;
// }
//   }
//   @media (max-width: 991.98px) {
//     body {
//       &:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) {
//         .main-header {
//           margin-left: 0;
//         }
//       }
//     }
//   }

.navbar-white {
	background-color: $var-dashboardCardHeader;
	color: #1f2d3d;
}
.main-header {
	border-bottom: 0px solid #dee2e6;
	z-index: 1034;
	.navbar-nav {
		.nav-item {
			margin: 0;
			.fontsize {
				display: block;
			}
			.fullscreen {
				display: block;
			}
		}
	}
	.navbar-nav[class*="-right"] {
		.dropdown-menu {
			left: auto;
			margin-top: -3px;
			right: 0;
		}
	}
}
.navbar-expand {
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-ms-flex-pack: start;
	justify-content: flex-start;
	.navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
		.dropdown-menu {
			position: absolute;
		}
		.nav-link {
			padding-right: 1rem;
			padding-left: 1rem;
		}
	}
	.navbar-nav-scroll {
		overflow: visible;
	}
	.navbar-collapse {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.navbar-toggler {
		display: none;
	}
}
.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 0.5rem;
}
.navbar-expand>.container,
.navbar-expand>.container-fluid,
.navbar-expand>.container-sm,
.navbar-expand>.container-md,
.navbar-expand>.container-lg,
.navbar-expand>.container-xl {
	padding-right: 0;
	padding-left: 0;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.navbar-dark {
	.navbar-text {
		color: rgba(255, 255, 255, 0.75);
		a {
			color: #fff;
		}
	}
}
.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
	color: #fff;
}
.navbar-nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.form-inline {
	.input-group {
		width: 100%;
	}
}
.dropdown-footer,
.dropdown-header {
	display: block;
	font-size: 0.875rem;
	padding: 0.5rem 1rem;
	text-align: center;
}
.dropdown-footer {
	background: $var-warning;
	color: $var-white;
	&:hover {
		text-decoration: none;
		color: $var-gray-dark;
	}
}
.welcomeUser {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 0px solid #000000;
	padding: 2px 3px 0;
	font-size: 12px;
	.userICO {
		background: $var-gray-dark3;
		border-radius: 50px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border: 0px solid #000000;
		padding: 6px;
		font-size: 12px;
		margin-right: 3px;
	}
	.userText {
		float: right;
		margin: -6px 0 0 4px;
		color: #0B0B0C;
		font-size: 14px;
		font-weight: 700;
	}
	.dealername {
		color: $var-red;
	}
	.userServiceArea {
		color: $var-secondary;
		font-size: 12px;
	}
}
.dropdown-menu-right {
	ul {
		margin: 0px;
		padding: 0 5px;
		list-style: none;
		li {
			margin: 0px;
			padding: 5px 0;
			list-style: none;
			border-bottom: 1px solid $var-gray;
			overflow: hidden;
			&:last-child {
				border-bottom: none;
			}
			a {
				font-size: 12px;
				color: $var-gray-dark1;
				padding: 5px 4px;
				display: block;
				overflow: hidden;
				&:hover {
					text-decoration: none;
					background: $var-gray-light;
				}
			}
		}
	}
}
.dropdown-menu-left {
	ul {
		margin: 0px;
		padding: 0 5px;
		list-style: none;
		li {
			margin: 0px;
			padding: 5px 0;
			list-style: none;
			border-bottom: 1px solid $var-gray;
			overflow: hidden;
			&:last-child {
				border-bottom: none;
			}
			a {
				font-size: 12px;
				color: $var-gray-dark1;
				padding: 5px 4px;
				display: block;
				overflow: hidden;
				&:hover {
					text-decoration: none;
					background: $var-gray-light;
				}
			}
		}
	}
}
.dropdown-menu-lg {
	max-width: 300px;
	min-width: 280px !important;
	padding: 0;
}

.circle-singleline {
  /* margin: 20px; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background: #808080;
  color: #fff;
  display: inline-block;
}
.helpLine {
  margin: 0px 3px 0 5px;
  line-height: 12px;
  font-size: $var-font-size12;
  float: right
}
.navbar-badge {
  font-size: .6rem;
  font-weight: 300;
  padding: 2px 4px;
  position: absolute;
  right: 5px;
  top: 9px;
}
.grey-bg {
  background-color: $var-gray-dark3;
  width: inherit;
  height: 30px;
}