.addQualDetails {
    background: #f4f4f4;
    margin-bottom: 12px;
    padding-top: 20px;
    padding-left: 12px;
}

:global .css-dev-only-do-not-override-aprs5d.ant-drawer .ant-drawer-footer {
    background: #d9d9d9;
}

:global .ant-drawer .ant-drawer-header-title {
    display: inline-block;
}

:global .ant-drawer .ant-drawer-close {
    float: right;
    margin-inline-end: 0;
}

:global .ant-input {
    padding: 5px;
}

.buttonIcon {
  margin-right: 8px;
  padding-top: 2px;
}

.saveButton {
    margin-right: 8px;
    color: #ffffff;
    background-color: #ff3e5b;
}
.cancelButton {
    margin-right: 8px;
    color: #ffffff;
    background-color: #d9d9d9;
    position: absolute;
    left: 0;
}
.resetButton{
    margin-right: 8px;
    color: #ffffff;
    background-color: #d9d9d9;
}

.addQualification {
    display: flex;
    justify-content: end;
}

:global .ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*";
    padding-bottom: 10px;
}


:global .ant-form-item .ant-form-item-label >label::after {
    content: "";
    position: relative;
    margin-block: 0;
    margin-inline-start: 2px;
    margin-inline-end: 8px;
}

.switchTop {
    margin-top: -8px;
    margin-bottom: -8px;
}

.statusButton {
    padding: 0px;
}

:global .ant-col-24.ant-form-item-label {
    padding: 0px;
    margin-bottom: -6px;
}
  