.previousPage {
  margin-top: 0px !important;
  /* height: 34px !important; */
  line-height: 14px !important;
  background-color: transparent;
  color: #ff3e5b !important;
}

.nextPage {
  margin-top: 0px !important;
  /* height: 34px !important; */
  line-height: 14px !important;
}

:global .ant-pagination-item-link .anticon {
  font-size: 18px;
  color: #ff3e5b !important;
}

:global .ant-pagination .ant-pagination-disabled {
  display: none;
}

:global .ant-pagination .ant-pagination-prev .ant-pagination-item-link,
:global .ant-pagination .ant-pagination-next .ant-pagination-item-link {
  background-color: transparent;
  border: 1px solid #ff3e5b;
}

/* :global .ant-btn-default.ant-btn-dangerous:disabled {
  border-color: #D3D3D3;
  color: #D3D3D3 !important;
  background-color: transparent;
} */

:global .ant-pagination .ant-pagination-item {
  height: 34px !important;
  line-height: 32px !important;
  background-color: #ffffff;
  border: none;
  /* border-radius: 2px; */
}

:global .ant-pagination .ant-pagination-next button {
  margin-left: 0 !important;
  background-color: transparent;
  color: #ff3e5b;
}

:global .ant-select-single:not(.ant-select-customize-input),
:global .ant-select-selector {
  border: none !important;
}

:global .ant-pagination .ant-pagination-options {
  margin-inline-start: 0;
}

/* :global .ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 0;
  padding: 16px;
  background: #f4f4f4;
} */

/* :global .ant-pagination .ant-pagination-item-active {
  color: #ffffff;
}

:global .ant-pagination .ant-pagination-item-active a {
  background-color: #ff3e5b;
  color: #ffffff;
} */