.mainContainer {
    padding: 10px 20px 10px 32px;
    overflow: initial;
    background: #ffffff;
    min-height: calc(100vh - 100px) !important
}

@media (max-width: 768px) {
    .mainContainer {
        padding: 50px 10px 0;
    }
}