@import 'assets/sass/app.module.scss';

/************Dashboard Contaner****************/


.dashboardContainer {
    margin-top: 0px;

    & :global {
        .ant-card {
            .ant-card-head-title {
                font-size: 16px;
                float: left;
                font-weight: 500 !important;
                line-height: 24px;
            }

            .ant-card-head {
                min-height: 50px;
                background-color: $neutralGrey1;
                padding: 0 16px;
            }

            .ant-card-body {
                padding: 0;
                margin-bottom: 0;
                border-radius: 0 0 8px 8px;
                height: 220px;
            }
        }

        .ant-carousel {
            .slick-dots {
                li {
                    button {
                        &::after {
                            background-color: $brandColor;
                            inset: 0.5em;
                        }

                        margin: 10px 30px 0px 2px;
                        padding: 0px 10px;
                    }
                }
            }
        }

        .ant-row {
            display: flex;
            flex-flow: row wrap;
            min-width: 0;
        }
    }

    .svgIcon {
        vertical-align: top;
        margin-right: 6px;
    }
}

.pageHeaderNameSection {
    border-bottom: 1px solid $neutralGrey1;
    @include space(margin, top, $sp10);
    @include space(margin, Bottom, $sp20);

    @include breakpoint(md) {
        border-bottom: 0px;
        @include space(padding, all, $sp0);
    }
}

.dashboardGraph {
    .dashboardGraphBox {
        width: 100%;
        border-bottom: 1px solid $neutralGrey0;
        overflow: hidden;
        height: 164px;

        .graphBoxfirstSec {
            width: 50%;
            height: 82px;
            float: left;
            overflow: hidden;
            @include space(padding, top, $sp11);
            @include space(padding, Bottom, $sp11);
            @include space(padding, left, $sp0);
            @include space(padding, right, $sp0);
            border: 1px solid $neutralGrey0;
            border-left: 0px solid $neutralGrey0;
            border-top: 0px solid $neutralGrey0;
            @include font-style(45, normal, normal, $semanticInfo, $fontfamily, center);
        }

        .graphBoxSecoundSec {
            width: 50%;
            height: 82px;
            float: left;
            overflow: hidden;
            border: 1px solid $neutralGrey0;
            border-right: 0px solid $neutralGrey0;
            border-top: 0px solid $neutralGrey0;
            @include space(padding, top, $sp11);
            @include space(padding, Bottom, $sp11);
            @include space(padding, left, $sp0);
            @include space(padding, right, $sp0);
            @include font-style(45, normal, normal, $brandColor, $fontfamily, center);
        }

        .graphBoxthirdSec {
            width: 50%;
            height: 82px;
            float: left;
            overflow: hidden;
            border: 1px solid $neutralGrey0;
            border-left: 0px solid $neutralGrey0;
            border-top: 0px solid $neutralGrey0;
            @include space(padding, top, $sp11);
            @include space(padding, Bottom, $sp11);
            @include space(padding, left, $sp0);
            @include space(padding, right, $sp0);
            @include font-style(45, normal, normal, $semanticWarning, $fontfamily, center);
        }

        .graphBoxforthSec {
            width: 50%;
            height: 82px;
            float: left;
            overflow: hidden;
            border: 1px solid $neutralGrey0;
            border-right: 0px solid $neutralGrey0;
            border-top: 0px solid $neutralGrey0;
            @include space(padding, top, $sp11);
            @include space(padding, Bottom, $sp11);
            @include space(padding, left, $sp0);
            @include space(padding, right, $sp0);
            @include font-style(45, normal, normal, $semanticSuccess, $fontfamily, center);
        }
    }

    .newsCard {
        @include space(padding, all, $sp20);

        h4 {
            @include space(margin, top, $sp0);
            @include space(margin, Bottom, $sp8);
            @include font-style(16, normal, 600, $primaryBlack, $fontfamily, left);
        }

        p {
            @include space(padding, left, $sp0);
            @include font-style(14, normal, 500, $primaryBlack, $fontfamily, left);
        }
    }

    .trainingCard {
        @include space(padding, top, $sp13);
        @include space(padding, Bottom, $sp13);
        @include space(padding, left, $sp20);
        @include space(padding, right, $sp20);
        border-bottom: 1px solid $neutralGrey0;

        h4 {
            @include space(margin, top, $sp0);
            @include space(margin, Bottom, $sp8);
            @include font-style(16, normal, 600, $primaryBlack, $fontfamily, left);
        }

        p {
            @include space(padding, all, $sp0);
            @include font-style(14, normal, 500, $primaryBlack, $fontfamily, left);
        }
    }
}

.dashboardList {
    @include space(margin, all, $sp0);
    @include space(padding, all, $sp0);
    width: 100%;

    li {
        @include space(padding, top, $sp5);
        @include space(padding, Bottom, $sp5);
        @include space(padding, left, $sp20);
        @include space(padding, right, $sp10);
        width: 100%;
        @include font-style(14, 30, 400, $primaryBlack, $fontfamily, left);
        border-bottom: 1px solid $neutralGrey1;
    }
}

.scrollbar {
    @include space(margin, all, $sp0);
    float: left;
    height: 218px;
    width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
        background-color: $transparentColor;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: $transparentColor;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $neutralGrey2 !important;
    }
}

.newsCard {
    @include space(margin, Bottom, $sp10);

    & :global {
        .ant-carousel {
            .slick-dots-bottom {
                @include space(margin, Bottom, $sp5);
            }
        }
    }
}

.newsCarsulalContaner {
    margin: 0px;
    @include space(padding, top, $sp15);
    @include space(padding, Bottom, $sp20);
    @include space(padding, left, $sp20);
    @include space(padding, right, $sp20);

    h4 {
        @include space(margin, all, $sp0);
        @include space(padding, all, $sp0);
        @include font-style(15, normal, normal, $primaryBlack, $fontfamily, left);
    }

    .textContaner {
        @include space(margin, all, $sp0);
        @include space(padding, all, $sp0);
        height: 130px;
        @include font-style(15, normal, normal, $primaryBlack, $fontfamily, left);
    }
}


.birthCalendarCard {
    @include space(margin, Bottom, $sp10);

    & :global {
        .ant-carousel {
            .slick-dots-bottom {
                @include space(margin, Bottom, $sp5);
            }
        }
    }
}

.birthContainer {
    min-height: 180px;
    @include space(padding, top, $sp10);
    @include space(padding, Bottom, $sp10);
    @include space(padding, left, $sp0);
    @include space(padding, right, $sp0);

    .birthdayImgcontaner {
        @include space(margin, top, $sp0);
        @include space(margin, Bottom, $sp0);
        @include space(margin, left, $sp10);
        @include space(margin, right, $sp18);
        width: 10%;
        float: left;
    }

    .birthdayTxtcontaner {
        @include space(margin, top, $sp0);
        @include space(margin, Bottom, $sp0);
        @include space(margin, left, $sp10);
        @include space(margin, right, $sp18);
        width: 60%;
        float: left;
        @include font-style(14, 22, 400, $primaryRed, $fontfamily, left);
    }
}

.birthdayTxtcontaner {
    .birthdayName {
        @include font-style(14, 24, 700, $primaryBlack, $fontfamily, left);
    }

    .birthdayCal {
        @include font-style(16, normal, normal, $primaryBlack, $fontfamily, left);
    }
}

.dashboardPageHeading {
    @include space(margin, bottom, $sp0);
}

.headingGradient {
    @include space(padding, Bottom, $sp6);
    border-radius: 5px;
    border: 0px;
    border-bottom: 4px solid;
    border-image: rgba(255, 62, 91, 1);
    border-image: linear-gradient(135deg, #ff3e5b 0.19%, #ffe1d8 99.81%);
    border-image: -moz-linear-gradient(left, rgba(255, 62, 91, 1) 0%, rgba(255, 225, 216, 1) 100%);
    border-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 62, 91, 1)), color-stop(100%, rgba(255, 225, 216, 1)));
    border-image: -webkit-linear-gradient(left, rgba(255, 62, 91, 1) 0%, rgba(255, 225, 216, 1) 100%);
    border-image: -o-linear-gradient(left, rgba(255, 62, 91, 1) 0%, rgba(255, 225, 216, 1) 100%);
    border-image: -ms-linear-gradient(left, rgba(255, 62, 91, 1) 0%, rgba(255, 225, 216, 1) 100%);
    border-image-slice: 1;
    text-decoration: none;
    @include font-style(20, normal, normal, $primaryBlack, $fontfamily, left);

    @include breakpoint(md) {
        @include space(padding, Bottom, $sp2);
        border-bottom: 2px solid;
        @include font-style(14, normal, normal, $primaryBlack, $fontfamily, left);
    }
}

.dashboardCard {
    margin-bottom: 20px !important;
    background: $primaryWhite !important;
}

.buttonHolder {
    @include space(margin, top, $sp10);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.badge {
    display: inline-block;
    @include space(padding, all, $sp4);
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
}

.badgedanger {
    color: $primaryWhite;
    background-color: $primaryRed;
    float: right;
    @include space(margin, top, $sp8);
    @include space(margin, Bottom, $sp8);
    @include space(margin, left, $sp0);
    @include space(margin, right, $sp0);

}

.separator {
    display: inline-block;
    border-bottom: 1px solid $neutralGrey0;
    @include space(margin, Bottom, $sp5);
    width: 100%;
}

.birthdayItem {
    width: 100%;
    @include space(padding, all, $sp6);
}

.headerContainer {
    clear: both;
    border-bottom: dashed 1px $neutralGrey2;
    margin-bottom: 30px;
}

.dashboardboxContHeight {
    height: 143px;
}


.mb20 {
    margin-bottom: 20px;
}

.floatRight {
    float: right;
}

.textRightAlign {
    text-align: right;
}