.changePassword .textCenter {
    text-align: center;
}

.changePassword :global .ant-form-item .ant-form-item-label>label {
    color: #342C2C;
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
}

.changePassword :global .ant-modal-body {
    padding-top: 5px !important;
}

.changePassword :global .ant-form-item {
    margin-bottom: 18px;
}

.changePassword :global .ant-btn {
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.changePassword :global .ant-input-affix-wrapper,
.changePassword :global .ant-btn-default {
    height: 38px !important;
    border-radius: 5px;
}

.changePassword :global .ant-input-affix-wrapper .anticon.ant-input-password-icon {
    color: #342C2C;
}

.textCenter {
    text-align: center;
}

.changePassword :global .ant-modal .ant-modal-header {
    margin-bottom: 0px !important
}

.changePassword :global .ant-modal-header .ant-modal-title {
    padding-bottom: 10px !important;
    border-bottom: 1px solid #DEDEDE;
}

.changePassword :global .ant-modal-content .ant-modal-close:hover {
    color: #ff3e5b !important;
    background-color: transparent !important;
}

.changePassword :global .ant-modal .ant-modal-body {
    padding-top: 10px !important;
}