 /*************Dashboard Page***************/

 .dashboardleftPanne {
	margin-top: 5px;
	padding: 10px;
	float: left;
	.heading {
		margin: 0 0 20px;
		padding: 0;
		font-size: $var-font-size16;
	}
}
/* dashboard dragable section */
.drag-sort-enable {
	margin: 20px 0;
	padding: 0px;
	list-style: none;
	li {
		margin: 5px 0;
		padding: 0 5px;
		list-style: none;
		width: 33.33%;
		float: left;
		>div {
			border: 1px solid $var-gray-light1;
			border-radius: 5px;
			height: 302px;
		}
	}
	li.drag-sort-active {
		background: transparent;
		color: $var-backgroundTrans;
		border: 1px solid $var-gray-light;
	}
	span.drag-sort-active {
		background: transparent;
		color: $var-backgroundTrans;
	}
}
.dashboardList {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	li {
		margin: 5px 0px;
		padding: 0px;
		list-style: none;
		width: 100%;
	}
}
/* dashboard dragable btn */

.btn-tool {
	background-color: $var-backgroundTrans;
	color: $var-themeBG1;
	font-size: 0.875rem;
	margin: -0.75rem 0;
	padding: .25rem .5rem;
	&:hover {
		color: $var-gray;
	}
	&:focus {
		box-shadow: none !important;
	}
}
.btn {
	&:disabled {
		cursor: not-allowed;
	}
}


.direct-chat-messages {
	.dashboardGraphBox {
		width: 100%;
		overflow: hidden;
		.graphBoxfirstSec {
			width: 50%;
			height: 85px;
			float: left;
			overflow: hidden;
			border: 1px solid $var-gray-light1;
			text-align: center;
			font-size: $var-font-size45;
			padding: 11px 0;
			border-left: 0px solid $var-gray-light1;
			border-top: 0px solid $var-gray-light1;
			color: $var-primary;
		}
		.graphBoxSecoundSec {
			width: 50%;
			height: 85px;
			float: left;
			overflow: hidden;
			border: 1px solid $var-gray-light1;
			text-align: center;
			font-size: $var-font-size45;
			padding: 11px 0;
			border-right: 0px solid $var-gray-light1;
			border-top: 0px solid $var-gray-light1;
			color: $var-red;
		}
		.graphBoxthirdSec {
			width: 50%;
			height: 85px;
			float: left;
			overflow: hidden;
			border: 1px solid $var-gray-light1;
			text-align: center;
			font-size: $var-font-size45;
			padding: 11px 0;
			border-left: 0px solid $var-gray-light1;
			border-bottom: 0px solid $var-gray-light1;
			color: $var-warning;
		}
		.graphBoxforthSec {
			width: 50%;
			height: 85px;
			float: left;
			overflow: hidden;
			border: 1px solid $var-gray-light1;
			text-align: center;
			font-size: $var-font-size45;
			padding: 11px 0;
			border-right: 0px solid $var-gray-light1;
			border-bottom: 0px solid $var-gray-light1;
			color: $var-success;
		}
	}
}

.birthContaner {
	min-height: 200px;
}
.birthdayTxtcontaner {
	margin: 0 10px;
	.birthdayName {
		color: $var-red;
		font-size: $var-font-size14;
	}
	.birthdayCal {
		color: $var-gray-dark;
		font-size: $var-font-size16;
	}
}
 /*************Inner Dashboard Page***************/

 .dashboardleftPanne {
	margin-top: 5px;
	padding: 10px;
	.heading {
		margin: 0 0 20px;
		padding: 0;
		font-size: $var-font-size16;
	}
}
.dashboardSection {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 0px solid #000000;
	ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}
.dashboardCard-wrapper {
	position: relative;
}
.dashboardCard {
	position: relative;
	margin-bottom: 30px;
	background: $var-white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 0px solid $var-gray-dark1;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.55);
}
.dashboardCardribbon {
	background: $var-gray-light1;
	font-size: $var-font-size14;
	display: block;
	padding: 10px 15px;
	overflow: hidden;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border: 0px solid $var-gray-dark1;
	.dashboardTitle {
		width: 50%;
		float: left;
		text-transform: uppercase;
		font-weight: 800;
	}
	.dashboardIco {
		color: $var-red;
		font-size: $var-font-size12;
		margin-right: 5px;
	}
	.dashboardViewMoreLink {
		color: $var-gray-dark;
		font-size: $var-font-size14;
		text-align: right;
		width: 50%;
		float: left;
		a {
			color: $var-gray-dark;
			font-size: $var-font-size14;
			&:hover {
				color: $var-red;
				text-decoration: none;
			}
		}
	}
}
.dashboardChartSection {
	padding: 30px 0px 23px;
	width: 100%;
}
.dashboardChartBox {
	text-align: center;
	color: $var-gray-dark;
	border-right: 1px solid #e3dede;
	&:last-child {
		border-right: 0px solid #e3dede;
	}
	.headingBox {
		text-align: center;
		color: $var-gray-dark;
		font-weight: 800;
		font-size: $var-font-size38;
	}
	.headingText {
		text-align: center;
		color: $var-red;
		font-weight: normal;
	}
	.headingText1 {
		text-align: center;
		color: $var-gray-dark1;
		font-weight: normal;
		font-size: 12px;
	}
}
