
.theme-light {
    $var-themeBG: #f4f4f4;
    $var-themeBG1: #f4f4f4;
    $var-bredcrumb: rgba(0, 0, 0, .5);
    $var-leftMenu: #342C2C;
    $var-dashboardCardHeader: #fff;
    $var-headerColor: #0B0B0C;
}

.theme-dark {
    $var-themeBG: #0B0B0C;
    $var-themeBG1: #242424;
    $var-bredcrumb: rgba(255, 255, 255, 0.8);
    $var-leftMenu: #FFFFFF;
    $var-dashboardCardHeader: #635D5D;
    $var-headerColor: #DEDEDE;
}

$var-dashboardCardHeader: #fff;
$var-backgroundTrans: transparent;
$var-themeBG1: #242424;
$var-headerColor: #0B0B0C;
$var-red: #ea3434;
$var-appBut: #FF3E5B;
$var-appBut1: #ff2c3f;
$var-white: #fff;
$var-gray: #c5c5c5;
$var-gray-light: #fbfbfb;
$var-gray-light1: #F4F4F4;
$var-lightGreen2: #95dd0f;
$var-gray-dark: #343a40;
$var-gray-dark1: #323731;
$var-gray-dark2: #a7a7a7;
$var-gray-dark3: #dfdfdf;
$var-gray-dark4: #342C2C;
$var-gray-dark5: #242424;
$var-gray-bluish: #adb5bd;
$var-gray-bluish1: #495057;
$var-primary: #007bff;
$var-secondary: #6c757d;
$var-success: #28a745;
$var-lightGreen: #4caf50;
$var-lightGreen1: #5b9908;
$var-info: #17a2b8;
$var-warning: #ffc107;
$var-danger: #dc3545;
$var-orange: #ff9800;
$var-orange1: #f46b36;
$var-light: #f8f9fa;
$var-dark: #343a40;
$var-breakpoint-xs: 0;
$var-breakpoint-sm: 576px;
$var-breakpoint-md: 768px;
$var-breakpoint-lg: 992px;
$var-breakpoint-xl: 1200px;
$var-font-size11: 11px;
$var-font-size12: 12px;
$var-font-size14: 14px;
$var-font-size16: 16px;
$var-font-size20: 20px;
$var-font-size26: 26px;
$var-font-size38: 38px;
$var-font-size45: 45px;
$var-font-size60: 60px;
$var-floatL: left;
$var-floatR: right;

$var-font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
/*  $var-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
$var-font-family-lato: 'Lato', sans-serif;

