/* table start here */


#example_filter {
	float: right;
	width: 30%;
	input {
		float: right;
		width: 75%;
		border: 1px solid #ccc;
	}
}
.dataTables_length {
	float: left;
	width: 30%;
	select {
		border: 1px solid #ccc;
	}
}
.tableContaner {
	overflow: auto;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}
.productHeadertable {
	margin: 5px auto;
	padding: 0px;
	width: 99%;
	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		margin: 0px;
		padding: 0px;
		tr {
			&:first-child {
				td {
					&:first-child {
						-moz-border-radius-topleft: 5px;
						-webkit-border-top-left-radius: 5px;
						border-top-left-radius: 5px;
					}
					&:last-child {
						-moz-border-radius-topright: 5px;
						-webkit-border-top-right-radius: 5px;
						border-top-right-radius: 5px;
					}
				}
			}
		}
	}
	thead {
		border-width: 0px 0px 1px 1px;
		th {
			font-size: 14px;
			text-align: left;
			line-height: 30px;
			font-weight: bold;
			color: $var-gray-dark3;
			background-color: $var-gray-light1;
			border: 0px solid #ccc;
			padding: 10px;
			min-width: 117px;
			span {
				select {
					display: block;
					width: 100%;
					border: 0px solid;
					margin: 0px auto;
				}
			}
		}
		th.colwidth {
			min-width: 10px;
		}
		tr.colwidth {
			min-width: 10px;
		}
		tr {
			th.header {
				line-height: 16px;
			}
		}
	}
	tr {
		&:last-child {
			td {
				&:last-child {
					-moz-border-radius-bottomright: 5px;
					-webkit-border-bottom-right-radius: 5px;
					border-bottom-right-radius: 5px;
					border-width: 0px 0px 0px 0px;
				}
				&:first-child {
					-moz-border-radius-bottomleft: 5px;
					-webkit-border-bottom-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
				border-width: 0px 1px 0px 0px;
			}
		}
		background-color: $var-white;
		border: 1px solid #DEDEDE;
		&:hover {
			td {
				background-color: $var-gray-light;
			}
		}
		td.icons {
			span {
				color: $var-appBut !important;
				margin: 2px 5px;
			}
		}
		td {
			&:last-child {
				border-width: 0px 0px 1px 0px;
			}
		}
		&:first-child {
			td {
				&:first-child {
					border-width: 0px 1px 1px 0px;
				}
				&:last-child {
					border-width: 0px 0px 1px 1px;
				}
				a {
					color: $var-info;
					text-decoration: none;
					&:hover {
						color: $var-info;
						text-decoration: underline;
					}
				}
			}
		}
	}
	td {
		text-align: left;
		padding: 10px;
		line-height: 22px;
		font-size: 14px;
		font-weight: normal;
		color: $var-gray-dark1;
		a {
			color: $var-orange1;
			text-decoration: none;
			&:hover {
				color: $var-gray-dark3;
				text-decoration: none;
			}
		}
	}
	thead.headeralignment {
		font-size: 14px;
		text-align: left;
		font-weight: bold;
		color: $var-gray-dark3;
		background-color: $var-gray-light1;
		border: 0px solid #ccc;
		padding: 10px;
		min-width: 117px;
		vertical-align: bottom;
	}
	.success-text {
		td {
			text-align: left;
			padding: 10px;
			line-height: 22px;
			font-size: 14px;
			font-weight: normal;
			color: $var-lightGreen;
		}
	}
	.danger-text {
		td {
			text-align: left;
			padding: 10px;
			line-height: 22px;
			font-size: 14px;
			font-weight: normal;
			color: $var-red;
		}
	}
	.warning-text {
		td {
			text-align: left;
			padding: 10px;
			line-height: 22px;
			font-size: 14px;
			font-weight: normal;
			color: $var-orange;
		}
	}
}
.filterICO {
	float: right;
	position: absolute;
	right: 38px;
	color: $var-gray-dark3;
	cursor: pointer;
	&:hover {
		color: $var-red;
	}
}
.headerFilter {
	display: none;
}