@keyframes fadeIn {
    from {
        top: 10%;
        opacity: 0;
    }

    to {
        top: 100;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        top: 10%;
        opacity: 0;
    }

    to {
        top: 100;
        opacity: 1;
    }
}

.cmsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;
    padding: 40px;
    text-align: center;
}

.cmsContainer h1 {
    margin-bottom: 0px;
}

.cmsContainer p {
    text-align: center;
    font-size: 18px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 600;
    color: #635D5D;
    letter-spacing: 10px;
}

.cmsContainer h1 img {
    padding: 50px;
    width: 100%;
    text-align: center;
}