 :global .ant-notification-topRight {
     top: 16px !important;
     right: -8px !important;
 }

 :global .ant-notification-bottomRight .ant-notification-notice {
     width: 475px !important;
     padding: 10px !important;
     bottom: 40px !important;
     margin-top: 30px;
 }

 :global .ant-notification-topRight .ant-notification-notice {
     width: 320px !important;
     padding: 10px 16px !important;
 }

 /*--------- Error Notification Start ---------*/
 .error {
     color: #ED302D;
     background-color: #FEE3D4;
     border: 1px solid #ED302D;
 }

 .error :global .ant-notification-notice {
     width: 320px !important;
     padding: 10px !important;
 }

 .error :global .ant-notification-notice-icon {
     font-weight: 700;
 }

 .error :global .ant-notification-close-icon {
     color: #EF0000;
 }

 .error :global .ant-notification-notice-message {
     color: #EF0000;
     font-weight: 700;
     margin-bottom: 0px !important;
     font-size: 14px !important;
     line-height: 22px !important;
 }

 .error :global .ant-notification-notice-description {
     color: #342C2C;
     font-size: 12px !important;
     line-height: 20px !important;
     font-weight: 400 !important;
     padding-right: 20px;
 }

 .error :global .ant-notification-notice-btn {
     margin-left: 35px;
     float: left;
     font-size: 12px;
 }

 .error :global .ant-notification-notice-btn .ant-btn-primary {
     background-color: #EF0000;
     color: #FFFFFF;
 }

 .error :global .ant-notification-notice-btn .ant-btn-dangerous {
     color: #EF0000;
     border-color: #EF0000;
 }

 .error :global .ant-btn-default.ant-btn-dangerous:not(:disabled):hover {
     background-color: #ea3434 !important;
 }

 .error :global .ant-notification-notice-close {
     top: 10px !important;
     right: 15px !important;
 }

 .error :global .ant-notification-notice-close:hover {
     background-color: transparent !important;
 }

 .error :global .ant-btn.ant-btn-sm {
     height: 28px !important;
     padding: 4px 16px;
     margin-bottom: 0px !important;
     font-size: 12px !important;
 }

 /*--------- Error Notification End ---------*/

 /*--------- Success Notification Start ---------*/
 .success {
     color: #70C922;
     background-color: #EEFCD2;
     border: 1px solid #70C922;
 }

 .success :global .ant-notification-notice-icon {
     font-weight: 700;
     color: #00A310;
 }

 .success :global .ant-notification-close-icon {
     color: #00A310;
 }

 .success :global .ant-notification-notice-message {
     color: #00A310;
     font-weight: 700;
     margin-bottom: 0px !important;
     font-size: 14px !important;
     line-height: 22px !important;
 }

 .success :global .ant-notification-notice-description {
     color: #342C2C;
     font-size: 12px !important;
     line-height: 20px !important;
     font-weight: 400 !important;
     padding-right: 20px;
 }

 .success :global .ant-notification-notice-close {
     top: 10px !important;
     right: 15px !important;
 }

 .success :global .ant-notification-notice-close:hover {
     background-color: transparent !important;
 }

 .success :global .ant-btn.ant-btn-sm {
     height: 28px !important;
     padding: 4px 16px;
     margin-bottom: 0px !important;
     font-size: 12px !important;
 }

 /*--------- Success Notification End ---------*/


 /*--------- Warning Notification Start ---------*/
 .warning {
     color: #F99C22;
     background-color: #2B2521;
     border: 1px solid #F99C22;
 }

 .warning :global .ant-notification-notice {
     width: 320px !important;
     padding: 10px !important;
 }

 .warning :global .ant-notification-notice-icon {
     font-weight: 700;
 }

 .warning :global .ant-notification-close-icon {
     color: #F99C22;
 }

 .warning :global .ant-notification-notice-message {
     color: #F99C22;
     font-weight: 500;
     margin-bottom: 0px !important;
     font-size: 14px !important;
     line-height: 22px !important;
 }

 .warning :global .ant-notification-notice-description {
     color: #FFFFFF;
     font-size: 14px !important;
     line-height: 22px !important;
     font-weight: 400 !important;
     padding-right: 20px;
 }

 .warning :global .ant-notification-notice-btn {
     margin-left: 35px;
     float: left;
     font-size: 12px;
 }

 .warning :global .ant-notification-notice-btn .ant-btn-primary {
     background-color: #F99C22;
     color: #FFFFFF;
 }

 .warning :global .ant-notification-notice-btn .ant-btn-dangerous {
     color: #F99C22 !important;
     border-color: #F99C22;
     background-color: transparent;
 }

 .warning :global .ant-btn-default.ant-btn-dangerous:not(:disabled):hover {
     background-color: #F99C22 !important;
 }

 .warning :global .ant-notification-notice-close {
     top: 10px !important;
     right: 15px !important;
 }

 .warning :global .ant-notification-notice-close:hover {
     background-color: transparent !important;
 }

 .warning :global .ant-btn.ant-btn-sm {
     height: 28px !important;
     padding: 4px 16px;
     margin-bottom: 0px !important;
     font-size: 12px !important;
     font-weight: 600;
 }

 /*--------- Warning Notification End ---------*/