 :global .ant-notification-topRight {
     top: 16px !important;
     right: -8px !important;
 }

 :global .ant-notification-bottomRight .ant-notification-notice {
     width: 475px !important;
     padding: 10px !important;
     bottom: 40px !important;
     margin-top: 30px;
 }

 :global .ant-notification-topRight .ant-notification-notice {
     width: 320px !important;
     padding: 12px 18px !important;
 }

 /*--------- Notification Pop Up Design Start ---------*/

 .error :global .ant-notification-notice-icon,
 .warning :global .ant-notification-notice-icon,
 .success :global .ant-notification-notice-icon,
 .errorBeforeLogin :global .ant-notification-notice-icon,
 .successBeforeLogin :global .ant-notification-notice-icon {
     font-weight: 700;
 }

 .error :global .ant-notification-notice-message,
 .warning :global .ant-notification-notice-message,
 .success :global .ant-notification-notice-message,
 .errorBeforeLogin :global .ant-notification-notice-message,
 .successBeforeLogin :global .ant-notification-notice-message {
     font-weight: 500;
     margin-bottom: 0px !important;
     font-size: 14px !important;
     line-height: 24px !important;
 }

 .error :global .ant-notification-close-icon,
 .error :global .ant-notification-notice-message,
 .errorBeforeLogin :global .ant-notification-close-icon,
 .errorBeforeLogin :global .ant-notification-notice-message {
     color: #ED302D !important;
 }

 .warning :global .ant-notification-close-icon,
 .warning :global .ant-notification-notice-message {
     color: #F99C22 !important;
 }

 .success :global .ant-notification-close-icon,
 .success :global .ant-notification-notice-message,
 .successBeforeLogin :global .ant-notification-close-icon,
 .successBeforeLogin :global .ant-notification-notice-message {
     color: #70C922 !important;
 }

 /* .success :global .ant-notification-notice-icon,
 .successBeforeLogin :global .ant-notification-notice-icon {
     font-weight: 700;
     color: #00A310;
 } */

 .error :global .ant-notification-notice-description,
 .warning :global .ant-notification-notice-description,
 .success :global .ant-notification-notice-description,
 .errorBeforeLogin :global .ant-notification-notice-description,
 .successBeforeLogin :global .ant-notification-notice-description {
     line-height: 24px !important;
     font-weight: 400 !important;
     padding-right: 20px;
 }

 .error :global .ant-notification-notice-btn,
 .warning :global .ant-notification-notice-btn,
 .errorBeforeLogin :global .ant-notification-notice-btn {
     margin-left: 35px;
     float: left;
     font-size: 12px;
 }

 .error :global .ant-notification-notice-btn .ant-btn-primary,
 .errorBeforeLogin :global .ant-notification-notice-btn .ant-btn-primary {
     background-color: #EF0000;
     color: #FFFFFF;
 }

 .warning :global .ant-notification-notice-btn .ant-btn-primary {
     background-color: #F99C22;
     color: #FFFFFF;
 }

 .error :global .ant-notification-notice-btn .ant-btn-dangerous,
 .errorBeforeLogin :global .ant-notification-notice-btn .ant-btn-dangerous {
     color: #EF0000;
     border-color: #EF0000;
 }

 .warning :global .ant-notification-notice-btn .ant-btn-dangerous {
     color: #F99C22 !important;
     border-color: #F99C22;
     background-color: transparent;
 }

 .error :global .ant-btn-default.ant-btn-dangerous:not(:disabled):hover,
 .errorBeforeLogin :global .ant-btn-default.ant-btn-dangerous:not(:disabled):hover {
     background-color: #ea3434 !important;
 }

 .warning :global .ant-btn-default.ant-btn-dangerous:not(:disabled):hover {
     background-color: #F99C22 !important;
 }

 .error :global .ant-notification-notice-close,
 .warning :global .ant-notification-notice-close,
 .success :global .ant-notification-notice-close,
 .errorBeforeLogin :global .ant-notification-notice-close,
 .successBeforeLogin :global .ant-notification-notice-close {
     top: 10px !important;
     right: 15px !important;
 }

 .error :global .ant-notification-notice-close:hover,
 .warning :global .ant-notification-notice-close:hover,
 .success :global .ant-notification-notice-close:hover,
 .errorBeforeLogin :global .ant-notification-notice-close:hover,
 .successBeforeLogin :global .ant-notification-notice-close:hover {
     background-color: transparent !important;
 }

 .error :global .ant-btn.ant-btn-sm,
 .warning :global .ant-btn.ant-btn-sm,
 .errorBeforeLogin :global .ant-btn.ant-btn-sm {
     height: 28px !important;
     padding: 4px 16px;
     margin-bottom: 0px !important;
     font-size: 12px !important;
 }

 .warning :global .ant-notification-notice-description,
 .errorBeforeLogin :global .ant-notification-notice-description,
 .successBeforeLogin :global .ant-notification-notice-description {
     color: #FFFFFF;
 }

 /*--------- Error Notification Start ---------*/
 .error {
     color: #ED302D;
     background: #FEE3D4 !important;
     border: 1px solid #ED302D;
 }

 .error :global .ant-notification-notice-description {
     color: #342C2C;
 }

 /*--------- Warning Notification Start ---------*/
 .warning {
     color: #F99C22;
     background: #2B2521 !important;
     border: 1px solid #F99C22;
 }

 /*--------- Error Notification Before Login Start ---------*/
 .errorBeforeLogin {
     color: #ED302D;
     background: #2B2025 !important;
     border: 1px solid #ED302D;
 }

 /*--------- Success Notification Start ---------*/
 .success {
     color: #70C922;
     background: #EEFCD2 !important;
     border: 1px solid #70C922;
 }

 .success :global .ant-notification-notice-description {
     color: #0B0B0C;
 }

 /*--------- Success Notification Before Login Start ---------*/
 .successBeforeLogin {
     color: #70C922;
     background: #222921 !important;
     border: 1px solid #70C922;
 }

 /*--------- Notification Pop Up Design End ---------*/