@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./scss/property";
@import "./scss/common";
@import "./scss/card";
@import "./scss/login";
@import "./scss/message";
@import "./scss/button";
@import "./scss/header";
@import "./scss/dashboard";
@import "./scss/innerLeftPanne";
@import "./scss/carusal";
@import "./scss/scrollbar";
@import "./scss/hieararchy";
@import "./scss/tree";
@import "./scss/navbar";
@import "./scss/table";
@import "./scss/footer";
@import "./scss/mediaQuery";



/* container section Style */
.container {
	width: 100%;
	padding-right: 7.5px;
	padding-left: 7.5px;
	margin-right: auto;
	margin-left: auto;
}
.container-fluid {
	width: 100%;
	padding-right: 7.5px;
	padding-left: 7.5px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-right: 7.5px;
	padding-left: 7.5px;
	margin-right: auto;
	margin-left: auto;
}
.container-sm {
	width: 100%;
	padding-right: 7.5px;
	padding-left: 7.5px;
	margin-right: auto;
	margin-left: auto;
}
.container-md {
	width: 100%;
	padding-right: 7.5px;
	padding-left: 7.5px;
	margin-right: auto;
	margin-left: auto;
}
.container-lg {
	width: 100%;
	padding-right: 7.5px;
	padding-left: 7.5px;
	margin-right: auto;
	margin-left: auto;
}
.container-xl {
	width: 100%;
	padding-right: 7.5px;
	padding-left: 7.5px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -7.5px;
	margin-left: -7.5px;
}
.content-wrapper {
	overflow: hidden;
	height: 100%;
	>.content {
		padding: 0 0.5rem;
	}
}

/***********Hierarchy***********/

.userText {
	>.dealername {
		font-size: 18px;
	}
}
.leftbar {
	height: calc(100% - (2.5rem + 1px));
	overflow-x: hidden;
	overflow-y: initial;
	padding-bottom: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0;
	scrollbar-color: $var-gray-dark transparent;
	scrollbar-width: none;
}
.leftcollaspe-link {
	.leftcollaspeArrow {
		color: $var-red;
		margin: 0px;
		padding: 0px;
		float: right;
	}
	display: block;
	font-size: 1.25rem;
	line-height: 1.5;
	padding: 0.8125rem 0.5rem;
	transition: width 0.3s ease-in-out;
	white-space: nowrap;
}
.boxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.left.col {
	float: left;
	width: 20%;
}
.right.col {
	float: right;
	width: 90%;
}
#dealerLogo {
	margin-right: 5px;
	margin-top: -2px;
	width: 40px;
	height: 40px;
	font-size: 16px;
	line-height: 36px;
}

.form_card {
	textarea.form-control {
		height: 30px !important;
	}
}
.card-header {
	background: #F4f4f4;
}
.searchmenu {
	.fa-search {
		position: absolute;
		top: 117px;
		left: 30px;
		right: auto;
	}
}
.mrt50 {
	margin-top: 50px;
}
#outer {
	overflow: hidden;
	transition: max-width 1s;
}
#outer.closed {
	max-width: 0px;
	border-left: solid 1px #DEDEDE;
	height: auto;
	border-radius: 0rem;
	box-shadow: none;
	background: transparent;
}
.closed {
	.searchmenu {
		visibility: hidden;
	}
}
#Inner {
	width: 300px;
}
.leftpanel {
	padding: 0.8em 0px 0.8em 0.5em;
	width: 98%;
	background: #F4f4f4;
	min-height: calc(100vh - 250px);
	margin-left: 8px;
	box-shadow: 0px 0px 8px rgb(78 78 78 / 25%);
	transition: all 2s linear;
	border-radius: 10px;
	margin-bottom: 100px;
}
.semicircle {
	position: absolute;
	width: 28px;
	height: 30px;
	border-radius: 50%;
	font-size: 16px;
	background-color: $var-appBut;
	color: $var-white;
	display: flex;
	justify-content: center;
	align-items: center;
	top: calc(2% - -30px);
	left: calc(3% - 22px);
	z-index: 3;
	cursor: pointer;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: 0PX;
	a {
		&:hover {
			color: $var-gray-light;
			transform: rotate(-180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		&:visited {
			color: $var-gray-light;
			transform: rotate(-180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		&:active {
			transform: rotate(-180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
}
