.producthierarchy :global .ant-collapse-header .ant-collapse-header-text {
    margin-inline-end: auto;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.subheading {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.searchField {
    vertical-align: middle;
    margin: 0 8px;
}
