:global .ant-layout .ant-layout-footer {
    height: 32px;
    padding: 0px 20px !important;
    background: transparent;
    /* border-top: 1px solid #DEDEDE; */
}

.footerText {
    text-align: center;
    color: #8E8585 !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.footerRight {
    text-align: right;
    color: #8E8585;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

/* .footerLink {
    font-size: 12px;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.footerLink a {
    color: #fff;
    margin: 0px 15px;
}

.footerLink a:hover {
    text-decoration: none;
    color: #ea3434;
}

.footerBottomText {
    text-align: center;
    padding-top: 1px;
    font-size: 11px;
    color: #ffffff;
}

.footerBottomText a {
    color: #ea3434;
    font-size: 12px;
}

.footerBottomText a:hover {
    color: #ea3434;
    text-decoration: underline;
}

.textLeft {
    text-align: left;
}

@media (max-width: 576px) {
    .footerLink {
        font-size: 10px;
        padding: 4px;
    }

    .footerLink a {
        margin: 0px 6px;
    }

    .footerBottomText {
        font-size: 9px;
    }

    .footerBottomText a {
        font-size: 10px;
    }
} */