:global .ant-form-item {
    margin-bottom: 5px !important;
}

:global .ant-form-item-explain-error {
    font-size: 11px;
}

:global .ant-form-item .ant-form-item-control-input-content {
    margin-bottom: -10px !important;
}

:global .ant-form-item {
    margin-bottom: 25px !important;
}

p {
    margin-bottom: 0px !important;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: stretch;
}

.button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    text-transform: uppercase;
    height: auto;
    background-color: #ff3e5b;
}

.button:hover {
    background-color: #ff3e5b;
}

.loginSection {
    background: url(assets/img/login_splash.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.loginSection .loginMnMlogo {
    float: right;
    position: absolute;
    padding: 10px 10px 10px 0;
    width: 100%;
    text-align: right;
    margin-right: 10px;
}

.loginSection .center .loginLogoSection {
    text-align: center;
    margin-top: 10px;
    color: #fff;
}

.loginSection .center .loginLogoSection .logoText {
    padding: 10px 0px 0px 0;
    /* text-transform: uppercase; */
    font-size: 24px;
}

.loginSection .loginWrap {
    margin: 20px;
    background: #28272C;
    opacity: 0.8;
    box-shadow: 0px 0px 8px rgba(213, 142, 167, 0.6);
    border-radius: 19px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border: 0px solid #000000;
}

.loginSection .loginWrap .loginHtml {
    padding: 30px;
}

.loginSection .loginWrap .loginHtml .loginForm {
    padding: 20px auto;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.loginSection .loginWrap .loginHtml .loginForm .loginHeading {
    padding: 0;
    text-align: center;
}

.loginSection .loginWrap .loginHtml .loginForm .loginHeading h4 {
    font-size: 26px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    margin: 4px 0;
}

.loginSection .loginWrap .loginHtml .loginForm .loginHeading .loginsubHeading {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
}

.loginSection .loginWrap .loginHtml .loginForm .input-group {
    width: 100%;
    margin-bottom: 15px;
}

.loginSection .loginWrap .loginHtml .loginForm .input-group .input-group-prepend {
    margin-right: -1px;
    display: flex;
}

.loginSection .loginWrap .loginHtml .loginForm .input-group .input-group-prepend .input-group-text {
    background: none;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
}

.loginSection .loginWrap .loginHtml .loginForm .input-group .input-group-prepend .input-group-text i {
    color: #fff;
    text-decoration: none;
}

.loginSection .loginWrap .loginHtml .loginForm .input-group .input,
.loginSection .loginWrap .loginHtml .loginForm .input-group .input:focus,
.loginSection .loginWrap .loginHtml .loginForm .input-group .input:active {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: none !important;
    color: #fff;
}

.loginSection .loginWrap .loginHtml .loginForm .input-group .label,
.loginSection .loginWrap .loginHtml .loginForm .input-group .button {
    text-transform: uppercase;
}

.loginSection .loginWrap .loginHtml .loginForm .input-group .button {
    width: 100%;
    color: #fff;
    display: block;
    background: #FF3E5B;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.loginSection .loginWrap .loginHtml .loginForm .input-group .logininputLabel {
    color: #fff;
    font-size: 16px !important;
    margin: 4px 0 0 10px;
}

.loginSection .loginWrap .loginHtml .loginForm .input-group .inputOTP {
    width: 13%;
    color: #fff;
    display: block;
    padding: 10px 0px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    float: left;
    text-align: center;
    margin: 0 3px;
}

.loginSection .loginWrap .loginHtml .loginForm .loginFooter {
    color: #fff;
    text-align: center;
    font-weight: normal;
    width: 100%;
    margin-top: 10px;
}

:global :where(.css-dev-only-do-not-override-169n7e2).ant-form-item .ant-form-item-explain-error {
    color: #FF3E5B;
    font-size: 12px;
}

.loginSection .loginWrap .loginHtml .loginForm .loginFooter a {
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

.loginSection .loginWrap .loginHtml .loginForm .forgotOTPSec {
    display: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%;
}

/* :global .Login_mrt10__7HwTM {
    padding-right: 0px !important;
} */

:global :where(.css-dev-only-do-not-override-169n7e2).ant-col {
    padding-right: 0px !important;
}

:global .g-recaptcha>div>div {
    /* transform:scale(1.77);    -webkit-transform:scale(1.77);    transform-origin:0 0;    -webkit-transform-origin:0 0; */
    margin: 0px auto;
}